<div class="intro-page">
    <div class="video">
        <video src="https://static.vapps.com.cn/xiaoyuyue_usage_scenario.mp4" poster="/assets/common/images/index/video.png" type="video/mp4" preload="none" controls="controls" width="100%" draggable>
            {{ l('Nonsupport.VideoTag') }}
        </video>
    </div>
    <div class="content">
        <div class="title item">{{ l('Xiaoyuyue.VideoIntro') }}</div>
        <p class="item">{{ l('Xiaoyuyue') }}</p>
        <p class="item">{{ l('Xiaoyuyue.VideoIntro.Tip1') }}</p>
        <div class="item">
            <p>{{ l('Xiaoyuyue.VideoIntro.Tip2') }}<br>{{ l('Xiaoyuyue.VideoIntro.Tip3') }}</p>
        </div>
    </div>
</div>