<div [@routerTransition] *ngIf="_editTenantService.tenant">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>{{l("EditTenant")}}: {{_editTenantService.tenant.tenancyName}}</span>
                        <small>{{l("TenantsHeaderInfo")}}</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button type="button" [disabled]="saving" class="btn btn-primary red" (click)="close()"><i class="fa fa-arrow-left"></i>{{l("Back")}}</button>
            <!--<button type="submit" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" class="btn btn-primary blue" [disabled]="!tenantEditForm.form.valid || saving"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>-->
            <button type="button" (click)="submitForm()" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" class="btn btn-primary blue" [disabled]="!tenantEditForm.form.valid || saving"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
        </div>
    </div>
    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            <tabset class="tab-container tabbable-line">
                <tab heading="{{l('Edit')}}">
                    <form #tenantEditForm="ngForm" role="form" novalidate class="form-validation" (submit)="save()">
                        <div class="form-group form-md-line-input form-md-floating-label common-input-line-width">
                            <input #nameInput type="text" name="Name" class="form-control input-ltr" [ngClass]="{'edited':_editTenantService.tenant.name}" [(ngModel)]="_editTenantService.tenant.name" required maxlength="128">
                            <label>{{l("Name")}}</label>
                        </div>

                        <div class="form-group form-md-line-input form-md-floating-label common-input-line-width" *ngIf="_editTenantService.tenant.connectionString">
                            <input type="text" name="ConnectionString" class="form-control edited" [(ngModel)]="_editTenantService.tenant.connectionString" required maxlength="1024">
                            <label>{{l("DatabaseConnectionString")}}</label>
                            <span class="help-block has-warning">{{l("TenantDatabaseConnectionStringChangeWarningMessage")}}</span>
                        </div>

                        <!--<div *ngIf="_editTenantService.tenant.connectionString">
                            <span class="help-block text-warning">{{l("TenantDatabaseConnectionStringChangeWarningMessage")}}</span>
                        </div>-->

                        <div class="form-group form-md-line-input form-md-floating-label common-input-line-width">
                            <select id="edition" name="edition" class="form-control edited" [(ngModel)]="_editTenantService.tenant.editionId">
                                <option *ngFor="let edition of _editTenantService.editions" [value]="edition.value">{{edition.displayText}}</option>
                            </select>
                            <label for="edition">{{l("Edition")}}</label>
                        </div>

                        <div class="md-checkbox-list">
                            <div class="md-checkbox">
                                <input id="EditTenant_IsActive" class="md-check" type="checkbox" name="IsActive" [(ngModel)]="_editTenantService.tenant.isActive">
                                <label for="EditTenant_IsActive">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                {{l("Active")}}
                            </label>
                            </div>
                        </div>
                    </form>
                </tab>
                <tab heading="{{l('Features')}}">
                    <tenantFeaturesModal #tenantFeaturesModal [initTenant]="_editTenantService.tenant"></tenantFeaturesModal>
                </tab>
            </tabset>
        </div>
    </div>
</div>