<div [@routerTransition]>
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>{{l("Tenants")}}</span> <small>{{l("TenantsHeaderInfo")}}</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button ng-if="vm.permissions.create" class="btn btn-primary blue" (click)="createTenant()"><i class="fa fa-plus"></i>{{l("CreateNewTenant")}}</button>
        </div>
    </div>

    <div class="portlet light margin-bottom-15">
        <div class="portlet-body">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group common-max-width">
                                    <label class="col-md-3 control-label">{{l("TenantName")}}</label>
                                    <div class="col-md-9">
                                        <input class="form-control common-max-width" type="text" name="TenantName" [(ngModel)]="TenantName" placeholder="{{l('TenantName')}}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="form-group common-max-width">
                                    <label class="col-md-3 control-label">{{l("UserName")}}</label>
                                    <div class="col-md-9">
                                        <input class="form-control common-max-width" type="text" name="UserName" [(ngModel)]="UserName" placeholder="{{l('UserName')}}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6" [hidden]="!advancedFiltersAreShown">
                                <div class="form-group common-max-width">
                                    <label class="col-md-3 control-label">{{l("EditionName")}}</label>
                                    <div class="col-md-9">
                                        <select *ngIf="_dataLocalStorage.editionsName" name="EditionName" class="form-control" [(ngModel)]="EditionName" title="{{l('EditionName')}}" jq-plugin="selectpicker">
                                            <option *ngFor="let name of _dataLocalStorage.editionsName" >{{l(name.displayText)}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-xs-6 col-md-2 col-md-offset-4 col-sm-3 col-sm-offset-3 common-min-width">
                                <div class="text-center filter-action">
                                    <span class="btn green btn-block" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                    <span class="btn green btn-block" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-md-2 col-sm-3 common-min-width">
                                <div class="text-center filter-action">
                                    <button class="btn blue btn-block" (click)='getTenants()'><i class="fa fa-search"></i> {{l("Search")}}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light margin-bottom-15">
        <div>
            <div id="TenantsTable"></div>
            <kendo-grid [data]="tenantsData | async" [pageSize]="pageSize" [skip]="skip" [pageable]="{ buttonCount: buttonCount,info: info,type: type,pageSizes: pageSizes, previousNext: previousNext}" [sortable]="true" [sort]="sort" [scrollable]="'none'" (dataStateChange)="dataStateChange($event)">
                <kendo-grid-command-column title="{{l('TenancyCodeName')}}">
                    <ng-template let-dataItem kendoGridCellTemplate>
                        <span><i *ngIf="dataItem.connectionString" class='fa fa-database' title="{{l('HasOwnDatabase')}}"></i>{{dataItem.tenancyName}}</span>
                    </ng-template>
                </kendo-grid-command-column>
                <kendo-grid-column field="name" title="{{l('Name')}}"></kendo-grid-column>
                <kendo-grid-column field="editionDisplayName" title="{{l('Edition')}}"></kendo-grid-column>
                <kendo-grid-command-column title="{{l('Active')}}">
                    <ng-template let-dataItem kendoGridCellTemplate>
                        <span *ngIf="dataItem.isActive" class="label label-success">{{l('Yes')}}</span>
                        <span *ngIf="!dataItem.isActive" class="label label-default">{{l('No')}}</span>
                    </ng-template>
                </kendo-grid-command-column>
                <kendo-grid-command-column title="{{l('CreationTime')}}">
                    <ng-template let-dataItem kendoGridCellTemplate>
                        {{t(dataItem.creationTime)}}
                    </ng-template>
                </kendo-grid-command-column>
                <kendo-grid-command-column title="{{l('Actions')}}">
                    <ng-template let-dataItem kendoGridCellTemplate>
                        <button *ngIf='permission.isGranted(adminPermissions.userManage_TenantsImpersonation)' [disabled]="!dataItem.isActive" class="btn btn-xs btn-default green" title="{{l('LoginAsThisUser')}}" (click)="loginAsThisUser(dataItem)"><i class="fa fa-user"></i></button>
                        <button *ngIf='permission.isGranted(adminPermissions.userManage_TenantsEdit)' class="btn btn-xs btn-primary" title="{{l('Edit')}}" (click)="editHandler(dataItem)"><i class="fa fa-edit"></i></button>
                        <!--<button *ngIf='permission.isGranted(adminPermissions.userManage_TenantsChangeFeatures)' class="btn btn-xs btn-default purple" title="{{l('Features')}}"
                                (click)="ChangeFeatures(dataItem)"><i class="fa fa-list"></i></button>-->
                        <button *ngIf='permission.isGranted(adminPermissions.userManage_TenantsDelete)' class="btn btn-xs btn-default red" title="{{l('Delete')}}" (click)="removeHandler(dataItem)"><i class="fa fa-trash-o"></i></button>

                    </ng-template>
                </kendo-grid-command-column>
                <kendo-grid-messages noRecords="{{l('NoDataAvailable')}}" pagerItemsPerPage="{{l('ItemsPerPage')}}" pagerOf="{{l('PagerOf')}}" pagerItems="{{l('Items')}}" pagerNextPage="{{l('NextPage')}}" pagerPreviousPage="{{l('PreviousPage')}}" pagerFirstPage="{{l('FirstPage')}}"
                    pagerLastPage="{{l('LastPage')}}"></kendo-grid-messages>
            </kendo-grid>
        </div>
    </div>
    <!--<createTenantModal #createTenantModal (modalSave)="getTenants()"></createTenantModal>
    <editTenantModal #editTenantModal (modalSave)="getTenants()"></editTenantModal>-->
    <!--<tenantFeaturesModal #tenantFeaturesModal></tenantFeaturesModal>-->
    <commonLookupModal #impersonateUserLookupModal (itemSelected)="impersonateUser($event)"></commonLookupModal>
</div>