<div class="home">
    <div class="top-content">
        <img src="/assets/common/images/index/home-bg.jpg" width="100%" alt="home-bg">
        <div class="top-text">
            <p>小微企业</p>
            <p>预约工具</p>
        </div>
        <div class="top-action">
            <div class="btn intro border-radius-6">立刻了解小预约</div>
            <div class="login-register clearfix">
                <span class="btn action-btn login-wrap pull-left border-radius-6" routerLink="/auth/login">登录</span>
                <span class="btn action-btn register-wrap pull-right border-radius-6" routerLink="/auth/register">注册</span>
            </div>
        </div>
    </div>
    <div class="page-wrap">
        <div class="page page-1">
            <div class="interlayer"></div>
            <div class="content">
                <div class="title">一键扫码 轻松预约</div>
                <div class="desc">扫描二维码,关注小预约,可直接创建预约或参与预约活动,轻松管理自己的时间</div>
                <div class="material-wrap"><img src="/assets/common/images/index/material-1.jpg" width="260px" alt=""></div>
            </div>
        </div>
        <div class="page page-2">
            <div class="interlayer"></div>
            <div class="content">
                <div class="title">随时随地 参与预约</div>
                <div class="desc">只要您关注了小预约,你就可以随时随地预约喜欢的活动,小预约大工具</div>
                <div class="material-wrap"><img src="/assets/common/images/index/material-2.jpg" width="260px" alt=""></div>
            </div>
        </div>
        <div class="page page-3">
            <div class="interlayer"></div>
            <div class="page3-content">
                <div class="logo-wrap ">
                    <img class="logo" src="/assets/common/images/login/logo.png" width="50px" alt="logo">
                    <span class="title">小预约</span>
                </div>
                <p class="slogan">小预约 知未来</p>
                <div class="about-wrap">
                    <p class="about-title">关于我们</p>
                    <div class="about-item">
                        <div class="name">电话 : </div>
                        <div class="desc">020-39141150</div>
                    </div>
                    <div class="about-item">
                        <div class="name">邮箱 : </div>
                        <div class="desc">marketing@vapps.hk</div>
                    </div>
                    <div class="about-item">
                        <div class="name">网站 : </div>
                        <div class="desc">http://www.vapps.com.cn</div>
                    </div>
                    <div class="about-item">
                        <div class="name">地址 : </div>
                        <div class="desc">广州市番禺区天安科技园产业大厦2座503</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>