<div class="header">
    <div class="top-fixed clearfix">
        <span class="icon pull-left vapps-icon-app-logo"></span>
        <span class="icon pull-right" (click)="isShowSubMenu()" [ngClass]="{'vapps-icon-app-menu': !isShowSubMenuFlag, 'vapps-icon-app-close': isShowSubMenuFlag}"></span>
    </div>

    <div class="sub-menu" *ngIf="isShowSubMenuFlag">
        <div class="sub-menu-item" (click)="isShowSubMenu()"><a href="#">首页</a></div>
        <div class="sub-menu-item" (click)="isShowSubMenu()"><a href="#">了解</a></div>
        <div class="sub-menu-item" (click)="isShowSubMenu()"><a href="#page1">公众号</a></div>
        <div class="sub-menu-item" (click)="isShowSubMenu()"><a href="#page2">应用场景</a></div>
        <div class="sub-menu-item" (click)="isShowSubMenu()"><a href="#page3">关于我们</a></div>
    </div>
</div>