<div [@routerTransition] *ngIf="!ordinaryLogin">
    <form #fastLoginForm="ngForm" method="post">
        <div class="login-wrap card-shadow">
            <div class="logo-wrap">
                <img src="/assets/common/images/login/logo-colorized.png" width="40px" alt="logo">
            </div>

            <div class="toggle-wrap clearfix">
                <span class="ordinary-login col-xs-6" (click)="isOrdinaryLogin()">
                    {{l('Account')}}
                    <span class="line" *ngIf="ordinaryLogin"></span>
                </span>
                <span class="phone-login col-xs-6" (click)="isPhoneLogin()">
                    {{l('Telephone')}}
                    <span class="line" *ngIf="!ordinaryLogin"></span>
                </span>
            </div>

            <div class="login-body">
                <div class="form-item">
                    <div class="form-group label-floating">
                        <input class="form-control" type="number" name="phoneNumber" [(ngModel)]="model.phoneNum" maxlength="11" pattern="^[1][3-8]\d{9}$|^([6|9])\d{7}$|^[0][9]\d{8}$|^[6]([8|6])\d{5}$"
                            placeholder="{{l('PhoneNumber')}}" autofocus required>
                    </div>
                </div>

                <div class="form-item">
                    <div class="validate-code-wrap form-group label-floating">
                        <input class="form-control" type="number" name="identifyCode" [(ngModel)]="model.loginCode" required placeholder="{{l('VerificationCode')}}">
                        <xiaoyuyue-send-code [codeType]="codeType" [phoneNumber]="model.phoneNum"></xiaoyuyue-send-code>
                    </div>
                </div>

                <button class="btn primary-bgcolor btn-block login-btn-wrap" type="submit" (click)="login()" [disabled]="!fastLoginForm.form.valid"
                    [buttonBusy]="saving" [busyText]="l('Logging')">
                    <i></i>
                    <span>{{l("LogIn")}}</span>
                </button>

                <div class="form-item clearfix account-action">
                    <span class="flex-item" routerLink="/auth/register">{{ l('Page.FastRegister') }}</span>
                    <span class="flex-item" routerLink="/auth/forgot-password">{{l("ForgotPassword")}}</span>
                </div>

                <div class="extra-login">
                    <div class="title-text">
                        <span class="text">{{ l('External.Slogen') }}</span>
                    </div>
                    <div *ngIf="loginService.externalLoginProviders.length > 0">
                        <ul class="social-icons-wrap">
                            <li *ngFor="let provider of loginService.externalLoginProviders" [hidden]="provider.name == 'WeChatMP'">
                                <a class="social-login-icon social-icon-color {{provider.icon}}" (click)="externalLogin(provider,$event)" title="{{provider.name}}"></a>
                            </li>
                        </ul>

                        <div class="tooltip in tooltip-top top" id="externalLogin">
                            <div class="externalLogin-arrow"></div>
                            <div class="externalLogin-wrapper" id="externalLoginContainer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div [@routerTransition] *ngIf="ordinaryLogin">
    <form #loginForm="ngForm" method="post">
        <div class="login-wrap card-shadow">
            <div class="logo-wrap">
                <img src="/assets/common/images/login/logo-colorized.png" width="40px" alt="logo">
            </div>

            <div class="toggle-wrap clearfix">
                <span class="ordinary-login col-xs-6" (click)="isOrdinaryLogin()">
                    {{l('Account')}}
                    <span class="line" *ngIf="ordinaryLogin"></span>
                </span>
                <span class="phone-login col-xs-6" (click)="isPhoneLogin()">
                    {{l('Telephone')}}
                    <span class="line" *ngIf="!ordinaryLogin"></span>
                </span>
            </div>

            <div class="login-body">
                <div class="form-item">
                    <div class="form-group label-floating">
                        <input class="form-control" type="text" placeholder="{{ l('Certificate') }}" [(ngModel)]="loginService.authenticateModel.loginCertificate"
                            name="UserName" required autofocus>
                    </div>
                </div>

                <div class="form-item">
                    <div class="form-group label-floating">
                        <input class="form-control" type="password" placeholder="{{ l('Pawwword') }}" [(ngModel)]="loginService.authenticateModel.password"
                            name="EmailAddress" required>
                    </div>
                </div>

                <button class="btn primary-bgcolor btn-block login-btn-wrap" type="submit" (click)="login()" [disabled]="!loginForm.form.valid"
                    [buttonBusy]="saving" [busyText]="l('Logging')">
                    <i></i>
                    <span>{{l("LogIn")}}</span>
                </button>

                <div class="form-item clearfix account-action">
                    <span class="flex-item" routerLink="/auth/register">{{ l('Page.FastRegister') }}</span>
                    <span class="flex-item" routerLink="/auth/forgot-password">{{l("ForgotPassword")}}</span>
                </div>
                <div class="extra-login">
                    <div class="title-text">
                        <span class="text">{{ l('Page.External') }}</span>
                    </div>
                    <div *ngIf="loginService.externalLoginProviders.length > 0">
                        <ul class="social-icons-wrap">
                            <li *ngFor="let provider of loginService.externalLoginProviders" [hidden]="provider.name == 'WeChatMP'">
                                <a class="social-login-icon social-icon-color {{provider.icon}}" (click)="externalLogin(provider,$event)" title="{{provider.name}}"></a>
                            </li>
                        </ul>

                        <div class="tooltip in tooltip-top top" id="externalLogin">
                            <div class="externalLogin-arrow"></div>
                            <div class="externalLogin-wrapper" id="externalLoginContainer"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>
