<!--<xiaoyuyue-admin-header (toggleFlag)="showSideBarHandler($event)"></xiaoyuyue-admin-header>-->
<!--<xiaoyuyue-admin-side-bar #sideBarModel></xiaoyuyue-admin-side-bar>-->
<div class="booked-content">
    <div class="content-wrap">
        <div class="finshed-icon"><img src="../../assets/common/images/svg/app-booked.svg" width="48px" alt="已完成"></div>
        <p class="success-tip">应约成功</p>

        <div class="booking-customer-info">
            <p class="booking-item"><span class="item-left">项目</span><span class="item-right">{{bookingName}}</span></p>
            <p class="booking-item"><span class="item-left">应约人</span><span class="item-right">{{bookingCustomer}}</span></p>
            <p class="booking-item"><span class="item-left">时间</span><span class="item-right">{{bookingDate}}</span> <span>{{hourOfDay}}</span></p>
        </div>

        <div class="btn btn-submit">
            <a routerLink="/manage/bookingorder">完成</a>
        </div>
    </div>

    <div class="booked-footer">
        <div class="qr-code-wrap">
            <img src="/assets/common/images/xiaoyuyue-qr-code-x2.png" width="115px" alt="xiaoyuyue-qr-code">
        </div>
        <p>关注 小预约 公众号</p>
        <p>轻松了解预约详情</p>
        <div class="ad-wrap"><img src="/assets/common/images/ad/ad2.jpg" width="100%" alt=""></div>
    </div>
</div>