<div class="header">
    <span class="vapps-icon-app-back-left back-icon pull-left" (click)="back()"></span>
    <span class="vapps-icon-app-menu menu-icon pull-right" (click)="showSideBar()"></span>

    <div class="header-bg">
        <div class="content">
            <img class="avatar" [src]="profilePicture" width="60px" alt="avatar">
            <div class="username">{{shownLoginName}}</div>
        </div>
    </div>
    <div class="menu-wrap">
        <div class="menu-item">
            <a class="item" routerLink="/manage/bookingorder/manage">
                <span class="vapps-icon vapps-icon-app-user-manage"></span>
                <span class="name">应约管理</span>
            </a>
        </div>
        <div class="menu-item">
            <a class="item">
                <span class="vapps-icon vapps-icon-app-user-info"></span>
                <span class="name">个人信息</span>
            </a>
        </div>
        <div class="menu-item">
            <a class="item">
                <span class="vapps-icon vapps-icon-app-user-setting"></span>
                <span class="name">设置管理</span>
            </a>
        </div>
    </div>
</div>