<div class="header">
    <span class="glyphicon glyphicon-menu-left back-icon pull-left"></span>
    <span class="glyphicon glyphicon-menu-hamburger menu-icon pull-right" (click)="showSideBar()"></span>

    <div class="header-bg"><img class="avatar" src="/assets/common/images/default-profile-picture.png" width="60px" alt="avatar"></div>
    <div class="menu-wrap">
        <div class="menu-item"><a class="item" routerLink="/app/booking/manage">应约管理</a></div>
        <div class="menu-item"><a class="item" href="#">个人信息</a></div>
        <div class="menu-item"><a class="item" href="#">设置管理</a></div>
    </div>
</div>