.modal-backdrop.in {
    opacity: 0;
}

.booking-manage {
    width: 100%;
    max-width: 480px;
    margin: 0 auto 0;
    position: absolute;
    top: 35px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
    background-color: #F1F1F1;
    font-size: 16px;
    .serach {
        // background-color: #FFF;
    }
    .tabs {
        display: flex;
        margin: 10px 0;
    }
    .tab-item {
        flex: 1;
        line-height: 40px;
        text-align: center;
        &.active {
            color: #FF9641;
        }
    }
    ul.tabs {
        padding: 0;
        li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
    .booking-item-wrap {
        margin-bottom: 10px;
        .booking-item+.booking-item {
            margin-top: 10px;
        }
        .booking-item {
            padding: 0 15px 0;
            background-color: #FFF;
            border-radius: 4px;
            .top-wrap {
                height: 50px;
                line-height: 50px;
                border-bottom: 1px solid #E5E5E5;
                .title {
                    color: #FF9641;
                    font-size: 16px;
                    .tips {
                        font-size: 12px;
                        color: #FFF;
                        padding: 2px;
                        border-radius: 2px;
                        margin-bottom: 2px;
                        &.status1 {
                            background-color: #999;
                        }
                        &.status2 {
                            background-color: #FF9641;
                        }
                        &.status3 {}
                        &.status4 {
                            background-color: #999;
                        }
                        &.status5 {}
                    }
                }
                .icon {
                    color: #FF9641;
                    font-size: 22px;
                }
            }
            .content {
                position: relative;
                padding: 20px 0;
                .stick-booking {
                    width: 60px;
                    position: absolute;
                    right: -18px;
                    bottom: 20px;
                }
                .content-item {
                    padding: 4px 0;
                    .name {
                        margin-right: 10px;
                    }
                    .desc {
                        color: #FF9641;
                    }
                }
            }
            .bottom-action {
                height: 40px;
                line-height: 40px;
                display: flex;
                border-top: 1px solid #E5E5E5; // .line {
                //     transform: scaleX(.2) translateY(-1px);
                // }
                .action-item {
                    flex: 1;
                    text-align: center;
                    color: #333;
                    .icon {
                        display: inline-block;
                        margin-right: 6px;
                        color: #FF9641;
                        transform: translateY(1px);
                    }
                    a {
                        color: #333;
                    }
                }
            }
        }
    }
}

.empty-wrap {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
}