.booking-about {
    width: 100%;
    padding: 20px;
    padding-bottom: 50px;
    background-color: #FFF;
    .btn {
        line-height: 1;
        padding: 0;
        margin: 0;
    }
    .about-item+.about-item {
        margin-top: 20px;
    }
    .about-header {
        width: 100%;
        .title-name {
            font-size: 15px;
            color: #FF9641;
            margin-bottom: 4px;
            padding-bottom: 6px;
            border-bottom: 1px solid #dadada;
        }
        .intro-wrap {
            font-size: 14px;
            text-align: justify;
        }
    }
    .about-body {
        width: 100%;
        .item+.item {
            margin-top: 20px;
        }
        .banner-wrap {
            width: 100%;
            height: 184px;
            background-color: #CCC;
            overflow: hidden;
            .img {
                width: 100%;
                height: 184px;
                display: inline-block;
                background-size: cover;
                background-position: center;
            }
        }
        .video-wrap {
            width: 100%;
            height: 184px;
            background-color: #CCC;
            overflow: hidden;
        }
    }
    .about-footer {
        width: 100%;
        position: relative;
        padding-bottom: 40px;
        .item+.item {
            margin-top: 10px;
        }
        .item {
            display: flex;
            line-height: 26px;
            .item-left {
                flex: 1;
                .info-wrap {
                    display: flex;
                    .name {
                        width: 46px;
                        flex: 0 0 46px;
                    }
                    .colon {
                        width: 20px;
                        flex: 0 0 20px;
                        padding-right: 15px;
                    }
                    .desc {
                        flex: 1;
                    }
                }
            }
            .item-right {
                width: 26px;
                flex: 0 0 26px;
                .btn {
                    display: inline-block;
                    width: 26px;
                    line-height: 26px;
                    font-size: 16px;
                }
            }
        }
    }
}