<div [@routerTransition]>
    <form #userForm="ngForm" novalidate>
        <div class="col-xs-12 margin-bottom-5">
            <button [disabled]="saving" type="button" class="btn btn-default green" (click)="resetPermissions()"><span>{{l("ResetSpecialPermissions")}}</span></button>
        </div>
        <div class="portlet light margin-bottom-0">
            <div class="portlet-body">
                <permission-tree #permissionTree></permission-tree>
                <div class="note note-warning" style="margin-bottom: 0; margin-top: 15px">
                    <em>{{l('Note_RefreshPageForPermissionChanges')}}</em>
                </div>
            </div>
        </div>
    </form>
</div>