<div [@routerTransition]>
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>{{l("AuditLogs")}}</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button type="button" class="btn btn-default" (click)="exportToExcel()"><i class="fa fa-file-excel-o"></i> {{l("ExportToExcel")}}</button>
        </div>
    </div>
    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            <div class="form">
                <form class="horizontal-form form-horizontal" #auditFilterForm="ngForm" (ngSubmit)="getAuditLogs()">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group common-max-width">
                                    <label class="col-md-3 control-label">{{l("DateRange")}}</label>
                                    <div class="col-md-9">
                                        <date-range-picker [(startDate)]="startDate" [(endDate)]="endDate"></date-range-picker>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group common-max-width">
                                    <label class="col-md-3 control-label">{{l("UserName")}}</label>
                                    <div class="col-md-9">
                                        <input type="text" name="UserName" class="form-control" [(ngModel)]="username">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="advancedFiltersAreShown">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group common-max-width">
                                        <label class="col-md-3 control-label">{{l("Service")}}</label>
                                        <div class="col-md-9">
                                            <input name="ServiceName" type="text" class="form-control" [(ngModel)]="serviceName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group common-max-width">
                                        <label class="col-md-3 control-label">{{l("Duration")}}</label>
                                        <div class="col-md-9 input-group" style="padding: 0 15px;">
                                            <input type="number" name="MinExecutionDuration" only-number="" class="form-control" min="0" max="86400000" ng-minlength="0" ng-maxlength="8" [(ngModel)]="minExecutionDuration">
                                            <span class="input-group-addon">
                                            ---
                                        </span>
                                            <input type="number" name="MaxExecutionDuration" only-number="" class="form-control" min="0" max="86400000" ng-minlength="0" ng-maxlength="8" [(ngModel)]="maxExecutionDuration">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group common-max-width">
                                        <label class="col-md-3 control-label">{{l("Action")}}</label>
                                        <div class="col-md-9">
                                            <input type="text" name="MethodName" class="form-control" [(ngModel)]="methodName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group common-max-width">
                                        <label class="col-md-3 control-label">{{l("ErrorState")}}</label>
                                        <div class="col-md-9">
                                            <select name="HasException" class="form-control" [(ngModel)]="hasException">
                                                <option value="">{{l("All")}}</option>
                                                <option value="false">{{l("Success")}}</option>
                                                <option value="true">{{l("HasError")}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group common-max-width">
                                        <label class="col-md-3 control-label">{{l("Browser")}}</label>
                                        <div class="col-md-9">
                                            <input type="text" name="BrowserInfo" class="form-control" [(ngModel)]="browserInfo">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-xs-6 col-md-2 col-md-offset-4 col-sm-3 col-sm-offset-3 common-min-width">
                            <span class="btn green btn-block" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                            <span class="btn green btn-block" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up "></i> {{l("HideAdvancedFilters")}}</span>
                        </div>
                        <div class="col-xs-6 col-md-2 col-sm-3 common-min-width">
                            <button type="submit" class="btn blue btn-block"><i class="fa fa-refresh"></i>{{l("Refresh")}}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="AuditLogsTable"></div>

            <kendo-grid [data]="logsData | async" [pageSize]="pageSize" [skip]="skip" [pageable]="{ buttonCount: buttonCount,info: info,type: type,pageSizes: pageSizes, previousNext: previousNext}" [sortable]="true" [sort]="sort" (dataStateChange)="dataStateChange($event)">
                <kendo-grid-command-column title="" [width]="50">
                    <ng-template let-dataItem kendoGridCellTemplate>
                        <div class="text-center">
                            <i *ngIf="dataItem.exception" class="fa fa-warning font-yellow-gold"></i>
                            <i *ngIf="!dataItem.exception" class="fa fa-check-circle font-green"></i>
                        </div>
                    </ng-template>
                </kendo-grid-command-column>

                <kendo-grid-command-column title="{{l('Time')}}">
                    <ng-template let-dataItem kendoGridCellTemplate>
                        <span title="{{ dataItem.executionTime }}">{{ dataItem.executionTime }}</span>
                    </ng-template>
                </kendo-grid-command-column>

                <!--<kendo-grid-column title="{{l('Time')}}">
                    <ng-template let-dataItem="dataItem">
                        <span title="{{dataItem.executionTime||''}}">{{dataItem.executionTime}}</span>
                    </ng-template>
                </kendo-grid-column>-->
                <kendo-grid-command-column title="{{l('UserName')}}">
                    <ng-template let-dataItem kendoGridCellTemplate>
                        <span title="{{ dataItem.userName }}">{{ dataItem.userName }}</span>
                    </ng-template>
                </kendo-grid-command-column>
                <kendo-grid-command-column title="{{l('Service')}}">
                    <ng-template let-dataItem kendoGridCellTemplate>
                        <span title="{{ dataItem.serviceName }}">{{ dataItem.serviceName }}</span>
                    </ng-template>
                </kendo-grid-command-column>
                <kendo-grid-command-column title="{{l('Action')}}">
                    <ng-template let-dataItem kendoGridCellTemplate>
                        <span title="{{ dataItem.methodName }}">{{ dataItem.methodName }}</span>
                    </ng-template>
                </kendo-grid-command-column>
                <kendo-grid-command-column title="{{l('Duration')}}(ms)">
                    <ng-template let-dataItem kendoGridCellTemplate>
                        <span title="{{ dataItem.executionDuration }}">{{ dataItem.executionDuration }}</span>
                    </ng-template>
                </kendo-grid-command-column>
                <kendo-grid-command-column title="{{l('IpAddress')}}">
                    <ng-template let-dataItem kendoGridCellTemplate>
                        <span title="{{ dataItem.clientIpAddress }}">{{ dataItem.clientIpAddress }}</span>
                    </ng-template>
                </kendo-grid-command-column>
                <kendo-grid-command-column title="{{l('Client')}}">
                    <ng-template let-dataItem kendoGridCellTemplate>
                        <span title="{{ dataItem.clientName }}">{{ dataItem.clientName }}</span>
                    </ng-template>
                </kendo-grid-command-column>
                <!--<kendo-grid-column field="browserInfo" title="{{l('Browser')}}" [width]="180"></kendo-grid-column>-->
                <kendo-grid-command-column title="{{l('Browser')}}" [width]="180">
                    <ng-template let-dataItem kendoGridCellTemplate>
                        <span title="{{ dataItem.browserInfo }}">{{omitString(dataItem.browserInfo)}}</span>
                    </ng-template>
                </kendo-grid-command-column>
                <kendo-grid-command-column title="" [width]="100">
                    <ng-template let-dataItem kendoGridCellTemplate>
                        <button class="btn btn-xs btn-primary" title="{{l('Edit')}}" (click)="showDetailHandler(dataItem)"><i class="fa fa-search"></i></button>
                    </ng-template>
                </kendo-grid-command-column>
                <kendo-grid-messages noRecords="{{l('NoDataAvailable')}}" pagerItemsPerPage="{{l('ItemsPerPage')}}" pagerOf="{{l('PagerOf')}}" pagerItems="{{l('Items')}}" pagerNextPage="{{l('NextPage')}}" pagerPreviousPage="{{l('PreviousPage')}}" pagerFirstPage="{{l('FirstPage')}}"
                    pagerLastPage="{{l('LastPage')}}"></kendo-grid-messages>
            </kendo-grid>
        </div>
    </div>
    <!--<auditLogDetailModal #auditLogDetailModal></auditLogDetailModal>-->
</div>