<div class="reply-booking">
    <form #relpyBookingForm="ngForm">
        <div bsModal #replyBookingModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="optimalBookingTimeModel" aria-hidden="true">
            <div class="modal-dialog" *ngIf="hourOfDay">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close vapps-icon-app-close" (click)="close()"></span>
                    </div>

                    <div class="modal-body">

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group label-floating">
                                    <input class="form-control edited" type="text" value="{{ d(input.date) }} {{ hourOfDay }}" readonly disabled>
                                    <label class="control-label">{{ l('Booking.Datetime') }}</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group label-floating" [ngClass]="{'is-empty': !input.name}">
                                    <input class="form-control" type="text" name="name" [(ngModel)]="input.name" autofocus required>
                                    <label class="control-label">{{ l('Booking.CustomerName') }}</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group label-floating" [ngClass]="{'is-empty': !input.phoneNumber}">
                                    <input class="form-control" type="number" name="phoneNumber" [(ngModel)]="input.phoneNumber" pattern="(13\d|14[57]|15[^4,\D]|17[678]|18\d)\d{8}|170[059]\d{7}" required>
                                    <label class="control-label">{{ l('Booking.Phone') }}</label>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <div class="form-group label-floating" [ngClass]="{'is-empty': !input.subscriberNum}">
                                    <input class="form-control" type="number" name="subscriberNum" [(ngModel)]="input.subscriberNum" required>
                                    <label class="control-label">{{ l('Booking.Num') }}</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12" *ngIf="bookingInfoData.needEmail">
                                <div class="form-group label-floating" [ngClass]="{'is-empty': !input.emailAddress}">
                                    <input class="form-control" type="email" name="emailAddress" [(ngModel)]="input.emailAddress" pattern="^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$" required>
                                    <label class="control-label">{{ l('Booking.EmailAddress') }}</label>
                                </div>
                            </div>

                            <div class="col-xs-6" *ngIf="bookingInfoData.needGender">
                                <div class="gender-select-wrap form-group">
                                    <select class="gender-select form-control label-floating" name="gender" [ngModel]="defaultGenderSelect" (ngModelChange)="selectGenderHandler($event)">
                                            <option value="0" selected>{{ l('Booking.Gender') }}</option>
                                            <option [value]="listItem.value" *ngFor="let listItem of genderSelectListData">{{ listItem.displayText }}</option>
                                        </select>
                                </div>
                            </div>

                            <div class="col-xs-6" *ngIf="bookingInfoData.needAge">
                                <div class="form-group label-floating" [ngClass]="{'is-empty': !input.age}">
                                    <input class="form-control" type="number" name="age" [(ngModel)]="input.age" required>
                                    <label class="control-label">{{ l('Booking.Age') }}</label>
                                </div>
                            </div>

                        </div>

                        <div class="footer row">
                            <div class="col-xs-12">
                                <button type="submit" class="btn primary-bgcolor btn-block" [disabled]="!relpyBookingForm.form.valid" (click)="submit()" [buttonBusy]="saving" [busyText]="l('Submiting')"><i class="fa fa-check"></i> <span>{{ l('Submit') }}</span></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>

<!-- <div class="form-group label-floating"> -->
<!-- <label class="control-label">用户名</label> -->
<!-- <input type="text" class="form-control" name="username" [(ngModel)]="input.userName" autofocus required> -->
<!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
<!-- </div> -->
