<div class="change-passwd-wrap">
    <div class="passwd-wrap" [@routerTransition] *ngIf="showCommandWrap">
        <div class="card-wrap col-xs-4 col-sm-3">
            <div class="card" (click)="showUsePhoneChangeEle()">
                <div class="item">
                    <div class="content">
                        <span class="icon vapps-icon-app-validate-phone"></span>
                        <p class="text">{{l('Security.ChangePasswd.ByPhone')}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-wrap col-xs-4 col-sm-3">
            <div class="card" (click)="showUseOldPasswdEle()">
                <div class="item">
                    <div class="content">
                        <span class="icon vapps-icon-app-change-passwd"></span>
                        <p class="text">{{l('Security.ChangePasswd.ByOldPasswd')}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-wrap col-xs-4 col-sm-3">
            <div class="card" (click)="emailChangeHandler()">
                <div class="item">
                    <div class="content">
                        <span class="icon vapps-icon-app-validate-email"></span>
                        <p class="text">{{l('Security.ChangePasswd.ByEmail')}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="use-old-passwd" *ngIf="oldPasswdChangePasswd" [@routerTransition]>
        <div class="card">
            <form #changePwFrom="ngForm">
                <div class="card-header card-header-text" data-background-color="orange">
                    <span class="title-icon vapps-icon-app-change-passwd"></span>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group label-floating">
                                <label class="control-label">{{l('Security.Filed.OldPasswd')}}</label>
                                <input type="password" class="form-control" name="currentPassword" [(ngModel)]="input.currentPassword" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group label-floating">
                                <label class="control-label">{{l('Security.Filed.NewPasswd')}}</label>
                                <input type="password" class="form-control" name="currenPasswd" name="newPassword" [(ngModel)]="input.newPassword" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group label-floating">
                                <label class="control-label">{{l('Security.Filed.ComfirmPasswd')}}</label>
                                <input type="password" class="form-control" name="repeatPasswd" [(ngModel)]="input.repeatPasswd">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <button class="btn btn-block btn-warning" type="submit" [disabled]="!changePwFrom.form.valid" (click)="oldPasswdChangeHandler()">{{l('Confirm')}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="use-phone" *ngIf="phoneChangePasswd" [@routerTransition]>
        <div class="card">
            <form #changePwFrom="ngForm">
                <div class="card-header card-header-text" data-background-color="orange">
                    <span class="title-icon vapps-icon-app-validate-phone"></span>
                </div>
                <div class="card-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group label-floating">
                                <label class="control-label">{{l('Security.Filed.Phone')}}</label>
                                <input type="text" class="form-control" name="phoneNumText" [(ngModel)]="phoneNumText" required readonly>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 validate-code-wrap">
                            <div class="form-group label-floating">
                                <label class="control-label">{{l('VerifyCode')}}</label>
                                <input type="number" class="form-control" name="code" [(ngModel)]="byPhoneInput.code">
                                <xiaoyuyue-send-code [codeType]="codeType" [phoneNumber]="phoneNum"></xiaoyuyue-send-code>
                            </div>
                            <div class="get-sms-btn">
                                <button type="button" class="btn" (click)="send()" [disabled]="isSendSMS" #smsBtn>{{l('GetVerificationCode')}}</button>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group label-floating">
                                <label class="control-label">{{l('Security.Filed.NewPasswd')}}</label>
                                <input type="password" class="form-control" name="newPasswd" [(ngModel)]="byPhoneInput.newPassword">
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xs-12">
                            <button class="btn btn-block btn-warning" type="submit" [disabled]="!changePwFrom.form.valid" (click)="phoneChangeHandler()">{{l('Confirm')}}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
