<xiaoyuyue-header></xiaoyuyue-header>
<div class="sitemaps-wrapper">
        <div class="common-max-width card-shadow content">
            <div class="sitemaps-header">
                <div class="item" routerLinkActive="active" routerLink="/other/informant">举报中心</div>
                <div class="item" routerLinkActive="active" routerLink="/other/feedback">意见反馈</div>
                <div class="item" routerLinkActive="active" routerLink="/other/cases">分享案例</div>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
<xiaoyuyue-footer></xiaoyuyue-footer>