<div class="settings">
    <div class="card-wrap">
        <div class="card" routerLink="/app/admin/settings/security">
            <div class="item">
                <div class="content">
                    <span class="vapps-icon-app-security"></span>
                    <p class="text">账户安全</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-wrap">
        <!-- <div class="card" routerLink="/app/admin/settings/suggest"> -->
        <div class="card" (click)="stayTuned()">
            <div class="item">
                <div class="content">
                    <span class="vapps-icon-app-suggest"></span>
                    <p class="text">意见反馈</p>
                </div>
            </div>
        </div>
    </div>
</div>