<div [@routerTransition]>
    <h3 class="form-title">{{l("LogIn")}}</h3>

    <form #loginForm="ngForm" class="login-form form-horizontal" method="post" novalidate (ngSubmit)="login()">
        <div class="form-group form-md-line-input">
            <label for="loginCertificate" class="col-md-2 control-label login-label">{{l('UserName')}}</label>
            <div class="col-md-8 login-input" [class.has-success]="loginService.authenticateModel.loginCertificate && loginService.authenticateModel.loginCertificate.length > 0">
                <div class="input-icon">
                    <input [(ngModel)]="loginService.authenticateModel.loginCertificate" autoFocus class="form-control" type="text" name="loginCertificate" id="loginCertificate" required placeholder="{{l('UserNameOrEmail')}}" />
                    <div class="form-control-focus"> </div>
                    <i class="fa fa-envelope-o"></i>
                </div>
            </div>
        </div>

        <div class="form-group form-md-line-input">
            <label for="passwordNum" class="col-md-2 control-label login-label">{{l('Password')}}</label>
            <div class="col-md-8 login-input" [class.has-success]="loginService.authenticateModel.password && loginService.authenticateModel.password.length > 0">
                <div class="input-icon">
                    <input [(ngModel)]="loginService.authenticateModel.password" class="form-control" type="password" name="password" id="passwordNum" required maxlength="32" placeholder="{{l('Password')}}" />
                    <div class="form-control-focus"> </div>
                    <i class="fa fa-key"></i>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-5 col-xs-6">
                <label class="mt-checkbox mt-checkbox-outline">
                    <input class="form-control" [(ngModel)]="loginService.rememberMe" type="checkbox" name="rememberMe" value="true" />{{l("RememberMe")}}
                    <span></span>
                </label>
            </div>
            <div class="col-md-5 col-xs-6">
                <span class="forgot-password pull-right">
                    <a routerLink="/account/forgot-password" id="forget-password" class="forget-password">{{l("ForgotPassword")}}</a>
                </span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3 col-xs-4">
                <button type="submit" class="btn blue uppercase" [buttonBusy]="submitting" [busyText]="l('LodingWithThreeDot')"><i class="fa"></i><span>{{l("LogIn")}}</span></button>
            </div>
            <div class="col-md-7 col-xs-8 text-right">
                <span *ngIf="!multiTenancySideIsTeanant">
                    <a class="btn blue uppercase margin-bottom-10" routerLink="/account/register-tenant" id="register-btn">{{l("NewTenant")}}</a>
                </span>
                <span *ngIf="isSelfRegistrationAllowed" class="margin-bottom-10">
                    <a class="btn blue uppercase margin-bottom-10" routerLink="/account/register" id="register-btn">{{l("CreateAnAccount")}}</a>
                </span>
                <a class="btn blue green margin-bottom-10" routerLink="/account/email-activation" id="email-activation-btn">{{l("EmailActivation")}}</a>
            </div>
        </div>

        <div class="form-group form-md-line-input">
            <div *ngIf="loginService.externalLoginProviders.length > 0">
                <div class="col-md-7">
                    <label class="login-with control-label login-label">{{l('LoginWith')}}</label>
                    <ul class="social-icons">
                        <li *ngFor="let provider of loginService.externalLoginProviders">
                            <a class="social-login-icon social-icon-color {{provider.icon}}" (click)="externalLogin(provider,externalAni,externalContent,$event)" title="{{provider.name}}"></a>
                        </li>
                    </ul>
                </div>

                <div class="tooltip in tooltip-top bottom" id="externalLogin" #externalAni>
                    <div class="externalLogin-arrow"></div>
                    <div class="externalLogin-wrapper" id="external_login_container" #externalContent></div>
                </div>
            </div>
        </div>
    </form>
</div>