<div [@routerTransition]>
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span *ngIf="!isCreate">{{l("Admin.Roles.Edit")}}</span>
						<span *ngIf="isCreate">{{l("Admin.Roles.Create")}}</span>
					    <small>{{l("Admin.Roles.Detail")}}</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-primary red" (click)="back()"><i class="fa fa-arrow-left"></i> {{l("Back")}}</button>
            <button class="btn btn-primary blue" (click)="save()"><i class="fa fa-floppy-o"></i> {{l("Save")}}</button>
        </div>
    </div>
    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            <tabset class="tab-container tabbable-line">
                <tab heading="{{l('RoleProperties')}}">

                    <div class="form-group form-md-line-input form-md-floating-label common-input-line-width">
                        <input #roleNameInput class="form-control edited" type="text" name="DisplayName" [(ngModel)]="role.displayName" required maxlength="64">
                        <label>{{l("RoleName")}}</label>
                    </div>

                    <div class="md-checkbox-list common-input-line-width">
                        <div class="md-checkbox">
                            <input id="EditRole_IsDefault" class="md-check" type="checkbox" name="IsDefault" [(ngModel)]="role.isDefault">
                            <label for="EditRole_IsDefault">
				                        <span class="inc"></span>
				                        <span class="check"></span>
				                        <span class="box"></span>
				                        {{l("Default")}}
				                    </label>
                            <span class="help-block">{{l("DefaultRole_Description")}}</span>
                        </div>
                    </div>

                </tab>
                <tab heading="{{l('Permissions')}}">
                    <permission-tree #permissionTree></permission-tree>
                </tab>
            </tabset>

            <div class="note note-warning common-input-line-width">
                <em>{{l('Note_RefreshPageForPermissionChanges')}}</em>
            </div>
        </div>
    </div>
</div>