<div [@routerTransition]>
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>{{l("Roles")}}</span> <small>{{l("RolesHeaderInfo")}}</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button (click)="createRole()" *ngIf="isGranted(adminPermissions.userManage_RolesCreate)" class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewRole")}}</button>
        </div>
    </div>

    <div class="portlet light margin-bottom-15">
        <div class="portlet-body">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group common-max-width">
                                    <label class="col-md-3 control-label">{{l("FilterByPermission")}}</label>
                                    <div class="col-md-9">
                                        <permission-combo [(selectedPermission)]="selectedPermission" class="common-max-width"></permission-combo>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group common-max-width">
                                    <label class="col-md-3 control-label">{{l("RoleName")}}</label>
                                    <div class="col-md-9">
                                        <input class="form-control common-max-width" type="text" name="DisplayName" [(ngModel)]="displayName" placeholder="{{l('RoleName')}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-md-2 col-xs-offset-4 col-md-offset-5">
                                <div class="form-group margin-top-15 text-center">
                                    <button class="btn btn-primary blue btn-block" (click)="getRoles()"><i class="fa fa-search"></i> {{l("Search")}}</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            <kendo-grid [data]="rolesData | async" [pageSize]="pageSize" [skip]="skip" [pageable]="{ buttonCount: buttonCount,info: info,type: type,pageSizes: pageSizes, previousNext: previousNext}" [sortable]="true" [sort]="sort" [scrollable]="'none'" (dataStateChange)="dataStateChange($event)"
                (edit)="editHandler($event)" (remove)="removeHandler($event)">
                <kendo-grid-column field="displayName" title="{{l('RoleName')}}"></kendo-grid-column>
                <kendo-grid-column title="{{l('CreationTime')}}">
                    <ng-template let-dataItem kendoGridCellTemplate>
                        {{t(dataItem.creationTime)}}
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-command-column title="{{l('Actions')}}">
                    <ng-template let-dataItem kendoGridCellTemplate>
                        <button *ngIf="isGranted(adminPermissions.userManage_RolesEdit)" kendoGridEditCommand class="btn btn-xs btn-primary"><i class="fa fa-edit"></i></button>
                        <button *ngIf="!dataItem.isStatic && isGranted(adminPermissions.userManage_RolesDelete)" kendoGridRemoveCommand class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
                    </ng-template>
                </kendo-grid-command-column>
                <kendo-grid-messages noRecords="{{l('NoDataAvailable')}}" pagerItemsPerPage="{{l('ItemsPerPage')}}" pagerOf="{{l('PagerOf')}}" pagerItems="{{l('Items')}}" pagerNextPage="{{l('NextPage')}}" pagerPreviousPage="{{l('PreviousPage')}}" pagerFirstPage="{{l('FirstPage')}}"
                    pagerLastPage="{{l('LastPage')}}"></kendo-grid-messages>
            </kendo-grid>
        </div>
    </div>

    <!--<createOrEditRoleModal #createOrEditRoleModal (modalSave)="getRoles()"></createOrEditRoleModal>-->
</div>