<div class="footer">
    <div class="top">
        <div class="common-max-width">
            <div class="row">
                <div class="col-lg-6 footer-nav">
                    <div class="row nav-title">
                        <div class="col-lg-4">关于我们</div>
                        <div class="col-lg-4">如何使用</div>
                        <div class="col-lg-4">联系我们</div>
                    </div>
                    <div class="row sub-title">
                        <div class="col-lg-4">服务与支持</div>
                        <div class="col-lg-4">账号支持</div>
                        <div class="col-lg-4">其它</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">售前咨询</div>
                        <div class="col-lg-4">登录常见问题</div>
                        <div class="col-lg-4">定价</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">联系客服</div>
                        <div class="col-lg-4">充值付款</div>
                        <div class="col-lg-4">管理控制台</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">服务公告</div>
                        <div class="col-lg-4">账号管理</div>
                        <div class="col-lg-4">预约案例</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">举报中心</div>
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">提交建议</div>
                    </div>
                </div>
                <div class="col-lg-6 footer-img">
                    <div class="col-lg-6"><img src="/assets/common/images/index/contact/logo.png" width="118px" alt="logo"></div>
                    <div class="col-lg-6"><img src="/assets/common/images/index/contact/qr-code.png" width="118px" alt="qrcode"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">广州维普氏科技有限公司 | 粤ICP备 15065073号-1</div>
</div>