<div class="home-wrap">
    <!-- banner -->
    <div class="banner-wrap">
        <div class="banner-slogan common-max-width">
            <h2>小微企业预约工具<br><small>便捷创建预约工具</small></h2>
            <button class="btn btn-info">PC创建</button>
        </div>
    </div>

    <!-- 关于我们 -->
    <div class="about-me-wrap">
        <div class="common-max-width">
            <h3 class="content-title">关于我们</h3>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/about/bg1.png" alt="bg1">
                        </div>
                        <div class="card-content">
                            <p class="text-item text-title">小工具 快省事</p>
                            <p class="text-item">小工具帮助小微企业建立更有秩序的服务体验</p>
                            <p class="text-item">小工具帮助小微企业建立更有秩序的服务体验</p>
                            <p class="text-item">小工具帮助小微企业建立更有秩序的服务体验</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/about/bg2.png" alt="bg2">
                        </div>
                        <div class="card-content">
                            <p class="text-item text-title">小预约</p>
                            <p class="text-item">视频简介</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/about/bg3.png" alt="bg3">
                        </div>
                        <div class="card-content">
                            <p class="text-item text-title">更多数据支持</p>
                            <p class="text-item">更好服务体验</p>
                            <p class="text-item">简单创建预约表单，为企业带来更好的服务体验，更高效管理客户数据</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 如何建表 -->
    <div class="how-table-wrap">
        <div class="common-max-width">
            <h3 class="content-title">如何建表</h3>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/create-table/bg1.png" alt="bg1">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/create-table/bg2.png" alt="bg2">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/create-table/bg3.png" alt="bg3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 如何应约 -->
    <div class="how-booking-wrap">
        <div class="common-max-width">
            <h3 class="content-title">如何应约</h3>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/booking/bg1.png" alt="bg1">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/booking/bg2.png" alt="bg2">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/booking/bg3.png" alt="bg3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 使用场景 -->
    <div class="usage-scene-wrap">
        <div class="common-max-width">
            <h3 class="content-title">使用场景</h3>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/scene/bg2.png" alt="bg2">
                        </div>
                        <div class="card-content">
                            <p class="text-item text-title">插花</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/scene/bg3.png" alt="bg3">
                        </div>
                        <div class="card-content">
                            <p class="text-item text-title">烘焙</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/scene/bg4.png" alt="bg4">
                        </div>
                        <div class="card-content">
                            <p class="text-item text-title">读书会</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 联系我们 -->
    <div class="contact-us-wrap">
        <div class="common-max-width">
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="content-title">联系我们</h3>
                    <p class="slogan">在生活中预约美好，小预约给你便捷快速的预约体验，帮助小微企业建立秩序，超越传统，节约人力成本，省时省力</p>
                    <div class="contact-way">
                        <div class="flex-block">
                            <div class="flex-left vapps-icon-app-location"></div>
                            <div class="flex-right ">
                                <h4>办公地址<br><small>广州市番禺区天安科技园产业大厦503</small></h4>
                            </div>
                        </div>
                        <div class="flex-block">
                            <div class="flex-left vapps-icon-app-message"></div>
                            <div class="flex-right ">
                                <h4>联系方式<br><small>020-39141150<br>marketing@vapps.hk</small></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contact-form col-lg-6">
                    <div class="card">
                        <div class="col-lg-12">
                            <div class="row">
                                <!-- <label class="col-sm-2 label-on-left">With help</label> -->
                                <div class="col-md-12">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">姓名</label>
                                        <input class="form-control" type="text" autofocus name="name">
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <!-- <label class="col-sm-2 label-on-left">With help</label> -->
                                <div class="col-md-12">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">电子邮件</label>
                                        <input class="form-control" type="email" name="email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!-- <label class="col-sm-2 label-on-left">With help</label> -->
                                <div class="col-md-12">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label">告诉我们您的问题或建议...</label>
                                        <textarea class="form-control" name="propose" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>

                            <button class="btn btn-warning">发送消息</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>