<div class="settings">
    <div [@routerTransition]>
        <div class="card-wrap">
            <div class="card" routerLink="/user/settings/security">
                <div class="item">
                    <div class="content">
                        <span class="icon vapps-icon-app-user-security"></span>
                        <p class="text">{{ l('Menu.Security') }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <div class="card" routerLink="/user/settings/lang">
                <div class="item">
                    <div class="content">
                        <span class="icon vapps-icon-app-lang-switch-1"></span>
                        <p class="text">{{ l('Menu.SwitchLanguage') }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-wrap">
            <!-- <div class="card" routerLink="/user/settings/suggest"> -->
            <div class="card" (click)="stayTuned()">
                <div class="item">
                    <div class="content">
                        <span class="icon vapps-icon-app-suggest"></span>
                        <p class="text">{{ l('Menu.Feedback') }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<xiaoyuyue-admin-footer></xiaoyuyue-admin-footer>
