<!--<xiaoyuyue-admin-header (toggleFlag)="showSideBarHandler($event)"></xiaoyuyue-admin-header>-->
<!--<xiaoyuyue-admin-side-bar #sideBarModel></xiaoyuyue-admin-side-bar>-->
<div class="booked-content">
    <div class="content-wrap">
        <div class="finshed-icon">
            <img src="../../assets/common/images/svg/app-booked.svg" width="48px" alt="{{ l('Completed') }}">
        </div>
        <p class="success-tip">{{ l('Booked.Success') }}</p>

        <div class="booking-customer-info">
            <p class="booking-item">
                <span class="item-left">{{ l('Booked.BookingName') }}</span>
                <span class="item-right">{{bookingName}}</span>
            </p>
            <p class="booking-item">
                <span class="item-left">{{ l('Booked.BookingCustomer') }}</span>
                <span class="item-right">{{bookingCustomer}}</span>
            </p>
            <p class="booking-item">
                <span class="item-left">{{ l('Booked.BookingDate') }}</span>
                <span class="item-right">{{bookingDate}} {{hourOfDay}}</span>
            </p>
        </div>

        <div class="btn btn-submit">
            <a (click)="redirectBookingList()" routerLink="/user/booking/list">{{ l('Complete') }}</a>
        </div>
    </div>

    <div class="booked-footer">
        <div class="qr-code-wrap">
            <img src="/assets/common/images/xiaoyuyue-qr-code-x2.png" width="115px" alt="xiaoyuyue-qr-code">
        </div>
        <p class="xiaoyuyue-tip">{{ l('FollowMe.Tip1') }}</p>
        <p class="xiaoyuyue-tip">{{ l('FollowMe.Tip2') }}</p>
    </div>

    <!-- <xiaoyuyue-footer-ad></xiaoyuyue-footer-ad> -->
</div>
