<div class="footer">
    <div class="top">
        <div class="common-max-width">
            <div class="row">
                <div class="col-lg-6 footer-nav">
                    <div class="row nav-title">
                        <div class="col-lg-4">{{ l('Sitemaps.AboutUs') }}</div>
                        <div class="col-lg-4">{{ l('Sitemaps.HowToUse') }}</div>
                        <div class="col-lg-4">{{ l('Sitemaps.ContactUs') }}</div>
                    </div>
                    <div class="row sub-title">
                        <div class="col-lg-4">{{ l('Sitemaps.HelpCenter') }}</div>
                        <div class="col-lg-4">{{ l('Sitemaps.UseGuide') }}</div>
                        <div class="col-lg-4">{{ l('Sitemaps.Other') }}</div>
                    </div>
                    <div class="row" class="item-content">
                        <div class="col-lg-4 item" routerLink="/help/problem">{{ l('Sitemaps.CommonProblem') }}</div>
                        <div class="col-lg-4 item">{{ l('Sitemaps.CreateTenant') }}</div>
                        <div class="col-lg-4 item">{{ l('Sitemaps.ReportCenter') }}</div>
                    </div>
                    <div class="row" class="item-content">
                        <div class="col-lg-4 item" routerLink="/help/contacthelp">{{ l('Sitemaps.ContactCustomerService') }}</div>
                        <div class="col-lg-4 item">{{ l('Sitemaps.CreateBooking') }}</div>
                        <div class="col-lg-4 item">{{ l('Sitemaps.Feedback') }}</div>
                    </div>
                    <div class="row" class="item-content">
                        <div class="col-lg-4 item" routerLink="/help/notice">{{ l('Sitemaps.Announcement') }}</div>
                        <div class="col-lg-4 item">{{ l('Sitemaps.BookingManage') }}</div>
                        <div class="col-lg-4 item">{{ l('Sitemaps.ShareCases') }}</div>
                    </div>
                </div>
                <div class="col-lg-6 footer-img">
                    <div class="col-lg-6"><img src="/assets/common/images/index/contact/logo.png" width="118px" alt="logo"></div>
                    <div class="col-lg-6"><img src="/assets/common/images/index/contact/qr-code.png" width="118px" alt="qrcode"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">{{ l('Icp') }}</div>
</div>