<div class="footer">
    <div class="top">
        <div class="common-max-width">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 footer-nav">
                    <div class="row sub-title">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ l('Sitemaps.HelpCenter') }}</div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ l('Sitemaps.UseGuide') }}</div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ l('Sitemaps.Other') }}</div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">{{ l('Sitemaps.ContactUs') }}</div>
                    </div>
                    <div class="row item-content">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item" routerLink="/help/problem">{{ l('Sitemaps.CommonProblem') }}</div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item" routerLink="/guide/create-tenant">{{ l('Sitemaps.CreateTenant') }}</div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item" routerLink="/other/informant">{{ l('Sitemaps.ReportCenter') }}</div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item">marketing@vapps.hk</div>
                    </div>
                    <div class="row item-content">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item" routerLink="/help/contacthelp">{{ l('Sitemaps.ContactCustomerService') }}</div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item" routerLink="/guide/create-booking">{{ l('Sitemaps.CreateBooking') }}</div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item" routerLink="/other/feedback">{{ l('Sitemaps.Feedback') }}</div>
                    </div>
                    <div class="row item-content">
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item" routerLink="/help/notice">{{ l('Sitemaps.Announcement') }}</div>
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item" routerLink="/guide/manage-booking"></div>
                        <!-- <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item" routerLink="/guide/manage-booking">{{ l('Sitemaps.BookingManage') }}</div> -->
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 item" routerLink="/other/cases">{{ l('Sitemaps.ShareCases') }}</div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 footer-img">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4"><img src="/assets/common/images/index/contact/logo.png" width="118px" alt="logo"><p>{{ l('Xiaoyuyue') }}</p></div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"><img src="/assets/common/images/index/contact/qr-code.png" width="118px" alt="qrcode"><p>{{ l('FollowMe.Tip1') }}</p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">{{ l('Icp') }}</div>
</div>