<div class="header-wrap">
    <div class="common-max-width clearfix">
        <div class="menu-wrap pull-left">
            <div class="menu-item">
                <div class="item">
                    <a href="#"><img class="logo" src="/assets/common/images/login/logo-x1.png" alt="">{{ l('Xiaoyuyue') }}</a>
                </div>
                <div class="item" (click)="scrolled(0)"><a href="javascript:;">{{ l('AboutUs') }}</a></div>
                <div class="item"  (click)="scrolled(1)"><a href="javascript:;">{{ l('HowToUse') }}</a></div>
                <div class="item"  (click)="scrolled(4)"><a href="javascript:;">{{ l('ContactUs') }}</a></div>
            </div>
        </div>
        <div class="login-or-register-wrap pull-right">
            <div class="menu-item">
                    <div class="item">
                            <languageSwitch></languageSwitch>
                    </div>
                <div class="item"><a href="javascript:;" target="_blank" (click)="login()">{{ l('LogIn') }}</a></div>
                <div class="item"><a href="javascript:;" target="_blank" (click)="register()">{{ l('Register') }}</a></div>
            </div>
        </div>
    </div>
</div>