<xiaoyuyue-header></xiaoyuyue-header>
<div class="sitemaps-wrapper">
    <div class="common-max-width card-shadow content">
        <div class="sitemaps-header">
            <div class="item" routerLinkActive="active" routerLink="/guide/create-tenant">{{l('Page.CreateTenant')}}</div>
            <div class="item" routerLinkActive="active" routerLink="/guide/create-booking">{{l('Page.CreateBooking')}}</div>
            <!-- <div class="item" routerLinkActive="active" routerLink="/guide/manage-booking">预约管理</div> -->
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
<xiaoyuyue-footer></xiaoyuyue-footer>
