<div class="user-profile">
    <!-- 暂时处理机构信息页面裁剪弹窗fixed遇到perspective导致偏移错误，暂时移除机构信息页面的翻转动画 -->
    <!-- <div class="rotating-container" [ngClass]="{'filp-active': filpActive}"> -->
        <form #userProfile="ngForm" [@routerTransition]>
            <div class="rotating clearfix">
                <div class="col-md-12 front" *ngIf="!filpActive">
                    <div class="card">
                        <div class="avatar-wrap">
                            <xiaoyuyue-mobile-upload-picture [slogan]="" [borderRadius]="'50%'" [groupId]="groupId" [width]="'80px'" [height]="'80px'"
                                [existedPicUrl]="input.profilePictureUrl" (picUploadInfoHandler)="getLogoUploadHandler($event)"></xiaoyuyue-mobile-upload-picture>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">{{l('UserInfo.Username')}}</label>
                                        <input type="text" class="form-control" name="username" [(ngModel)]="input.userName" autofocus required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">{{l('UserInfo.Nickname')}}</label>
                                        <input type="text" class="form-control" name="nickname" [(ngModel)]="input.nickName" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">{{l('UserInfo.Name')}}</label>
                                        <input type="text" class="form-control" name="name" [(ngModel)]="input.name" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">{{l('UserInfo.Email')}}</label>
                                        <input type="email" class="form-control" name="email" [(ngModel)]="input.emailAddress" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="radio">
                                        <label class="col-xs-12">
                                            <input type="radio" [(ngModel)]="input.gender" [value]="1" name="radios">{{l('Male')}}
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="radio">
                                        <label class="col-xs-12">
                                            <input type="radio" [(ngModel)]="input.gender" [value]="2" name="radios">{{l('Female')}}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row op-btn">
                                <div class="col-xs-6">
                                    <button class="btn btn-block" type="button" (click)="cancel()">{{l('Cancel')}}</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-block btn-warning" type="submit" (click)="save()" [disabled]="!userProfile.form.valid">{{l('Save')}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 back" (click)="showEdit()" *ngIf="filpActive">
                    <div class="card">
                        <div class="avatar-wrap">
                            <div class="img" *ngIf="!userProfileData.profilePictureUrl" [ngStyle]="{'background-image': 'url(' + defaultProfilePictureUrl + ')'}"></div>
                            <div class="img" *ngIf="userProfileData.profilePictureUrl" [ngStyle]="{'background-image': 'url(' + userProfileData.profilePictureUrl + ')'}"></div>
                        </div>

                        <div class="card-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating" [ngClass]="{'is-empty': !userProfileData.userName}">
                                        <label class="control-label">{{l('UserInfo.Username')}}</label>
                                        <input type="text" class="form-control" name="backusername" [(ngModel)]="userProfileData.userName" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating" [ngClass]="{'is-empty': !userProfileData.nickName}">
                                        <label class="control-label">{{l('UserInfo.Nickname')}}</label>
                                        <input type="text" class="form-control" name="backnickname" [(ngModel)]="userProfileData.nickName" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating" [ngClass]="{'is-empty': !userProfileData.name}">
                                        <label class="control-label">{{l('UserInfo.Name')}}</label>
                                        <input type="text" class="form-control" name="backname" [(ngModel)]="userProfileData.name" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating" [ngClass]="{'is-empty': !userProfileData.emailAddress}">
                                        <label class="control-label">{{l('UserInfo.Email')}}</label>
                                        <input type="email" class="form-control" name="backemail" [(ngModel)]="userProfileData.emailAddress" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row" *ngIf="userProfileData.gender">
                                <div class="col-xs-6">
                                    <div class="radio">
                                        <label class="col-xs-12">
                                            <input type="radio" name="optionsRadios" [value]="1" [(ngModel)]="userProfileData.gender" disabled>{{l('Male')}}
                                        </label>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="radio">
                                        <label class="col-xs-12">
                                            <input type="radio" name="optionsRadios" [value]="2" [(ngModel)]="userProfileData.gender" disabled>{{l('Female')}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    <!-- </div> -->
</div>
<xiaoyuyue-admin-footer></xiaoyuyue-admin-footer>
