<div class="booking-manage">
    <div class="booking-item box-shadow">
        <div class="top-wrap clearfix">
            <div class="title pull-left">项目名称</div>
            <div class="icon pull-right"><span class="vapps-icon-app-to-top"></span></div>
        </div>
        <div class="content">
            <div class="content-item">
                <span class="name">预约机构: </span>
                <span class="desc">机构名称及门店</span>
            </div>
            <div class="content-item">
                <span class="name">预约时间: </span>
                <span class="desc">2017-06-12 09:00-12:00</span>
            </div>
            <div class="content-item">
                <span class="name">预约电话: </span>
                <span class="desc">15800158000</span>
            </div>
            <div class="content-item">
                <span class="name">应约人数: </span>
                <span class="desc">50</span>
            </div>
        </div>
        <div class="bottom-action">
            <span class="action-item"><a routerLink="/app/booking/detail">查看详情</a></span>|
            <span class="action-item">取消预约</span>|
            <span class="action-item">置顶预约</span>
        </div>
    </div>
    <div class="booking-item box-shadow">
        <div class="top-wrap clearfix">
            <div class="title pull-left">项目名称</div>
            <div class="icon pull-right"><span class="vapps-icon-app-to-top"></span></div>
        </div>
        <div class="content">
            <div class="content-item">
                <span class="name">预约机构: </span>
                <span class="desc">机构名称及门店</span>
            </div>
            <div class="content-item">
                <span class="name">预约时间: </span>
                <span class="desc">2017-06-12 09:00-12:00</span>
            </div>
            <div class="content-item">
                <span class="name">预约电话: </span>
                <span class="desc">15800158000</span>
            </div>
            <div class="content-item">
                <span class="name">应约人数: </span>
                <span class="desc">50</span>
            </div>
        </div>
        <div class="bottom-action">
            <span class="action-item"><a routerLink="/app/booking/detail">查看详情</a></span>|
            <span class="action-item">取消预约</span>|
            <span class="action-item">置顶预约</span>
        </div>
    </div>
    <div class="booking-item box-shadow">
        <div class="top-wrap clearfix">
            <div class="title pull-left">项目名称</div>
            <div class="icon pull-right"><span class="vapps-icon-app-to-top"></span></div>
        </div>
        <div class="content">
            <div class="content-item">
                <span class="name">预约机构: </span>
                <span class="desc">机构名称及门店</span>
            </div>
            <div class="content-item">
                <span class="name">预约时间: </span>
                <span class="desc">2017-06-12 09:00-12:00</span>
            </div>
            <div class="content-item">
                <span class="name">预约电话: </span>
                <span class="desc">15800158000</span>
            </div>
            <div class="content-item">
                <span class="name">应约人数: </span>
                <span class="desc">50</span>
            </div>
        </div>
        <div class="bottom-action">
            <span class="action-item"><a routerLink="/app/booking/detail">查看详情</a></span>|
            <span class="action-item">取消预约</span>|
            <span class="action-item">置顶预约</span>
        </div>
    </div>
</div>