.booking-manage {
    width: 100%;
    height: 100%;
    padding: 65px 10px 10px;
    background-color: #F1F1F1;
    font-size: 16px;
    .booking-item+.booking-item {
        margin-top: 10px;
    }
    .booking-item {
        padding: 0 15px 0;
        background-color: #FFF;
        border-radius: 4px;
        .top-wrap {
            height: 50px;
            line-height: 50px;
            border-bottom: 1px solid #E5E5E5;
            .title {
                color: #FF9641;
            }
            .icon {
                color: #FF9641;
                font-size: 22px;
            }
        }
        .content {
            padding: 20px 0;
            .content-item {
                padding: 4px 0;
                .name {
                    margin-right: 10px;
                }
                .desc {
                    color: #FF9641;
                }
            }
        }
        .bottom-action {
            height: 40px;
            line-height: 40px;
            display: flex;
            border-top: 1px solid #E5E5E5;
            .line {
                transform: scaleX(.2) translateY(-1px);
            }
            .action-item {
                flex: 1;
                text-align: center;
                color: #333;
                .icon {
                    display: inline-block;
                    margin-right: 6px;
                    color: #FF9641;
                    vertical-align: text-bottom;
                }
                a {
                    color: #333;
                }
            }
        }
    }
}