<div class="header fixed-header" *ngIf="organizationInfoData">
    <div class="bg-wrap">
        <img class="bg-tenant" [src]="organizationInfoData.backgroundPictureUrl" alt="机构背景">
        <span class="bg-cover"></span>
    </div>

    <div class="content-wrap box-shadow">
        <div class="tenant-avatar" (click)="showTenantDetailHandler()" [ngStyle]="{'background-image': 'url(' + organizationInfoData.logoUrl + ')'}"></div>
        <div class="tenant-name">{{organizationInfoData.name}}</div>
        <div class="tenant-banner">{{organizationInfoData.tagline}}</div>
    </div>
</div>