<div class="booking-edit" [ngClass]="{'miniprogram-top': iswxjsEnvironment}" *ngIf="bookingOrderForEdidData">
    <div [@routerTransition]>
        <div class="tenant-wrap card-shadow">
            <div class="tenant-bg-wrap">
                <img [src]="bookingOrderForEdidData.bookingInfo.outletPictureUrl" width="100%" alt="tenant-bg">
            </div>
            <div class="tenant-info">
                <div class="name">{{bookingOrderForEdidData.bookingInfo.tenantName}} {{bookingOrderForEdidData.bookingInfo.outletName}}</div>
                <div class="contact">
                    <div class="item-left">
                        <div class="content-wrap">
                            <span class="item-left gray-icon vapps-icon-app-contact"></span>
                            <span class="item-right">{{bookingOrderForEdidData.bookingInfo.contactor}} {{bookingOrderForEdidData.bookingInfo.contactorPhoneNum}}</span>
                        </div>
                    </div>
                    <span class="item-right text-center" (click)="showQrcodeModel()">
                        <span class="orange-icon vapps-icon-app-qr-code"></span>
                    </span>
                    <xiaoyuyue-qrcode-model #qrcodeModel [qrcodeUrl]="bookingOrderForEdidData.bookingInfo.contactorQrcode"></xiaoyuyue-qrcode-model>
                </div>
            </div>
        </div>

        <div class="address-wrap card-shadow">
            <div class="item-left">
                <div class="content-wrap">
                    <span class="item-left gray-icon vapps-icon-app-location"></span>
                    <span class="item-right">{{bookingOrderForEdidData.bookingInfo.outletAddress}}</span>
                </div>
            </div>
            <div class="item-right text-center">
                <a [href]="'tel:'+bookingOrderForEdidData.bookingInfo.contactorPhoneNum">
                    <span class="orange-icon vapps-icon-app-phone"></span>
                </a>
            </div>
        </div>

        <div class="booking-info-wrap card-shadow">
            <div class="card-item booking-info">
                <div class="top-wrap">
                    <div class="title">{{ l('Booking.BookingInfo') }}</div>
                </div>
                <div class="content">
                    <div class="content-item">
                        <span class="name">{{ l('Booking.Name') }} : </span>
                        <span class="desc">{{bookingOrderForEdidData.bookingInfo.bookingName}}</span>
                    </div>
                    <div class="content-item">
                        <span class="name">{{ l('Booking.Datetime') }} : </span>
                        <span class="desc">{{d(bookingOrderForEdidData.orderInfo.bookingData)}} {{bookingOrderForEdidData.orderInfo.hourOfDay}}</span>
                    </div>
                    <div class="content-item">
                        <span class="name">{{ l('Booking.ResponderNumber') }} : </span>
                        <span class="desc">{{bookingOrderForEdidData.orderInfo.bookingNum}}</span>
                    </div>
                    <div class="content-item" *ngIf="bookingOrderForEdidData.orderInfo.hit">
                        <span class="name">{{ l('Booking.Hint') }} : </span>
                        <span class="desc">{{bookingOrderForEdidData.orderInfo.hit}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="personal-info-wrap card-shadow">
            <div class="card-item personal-info">
                <div class="top-wrap">
                    <div class="title">{{ l('Booking.PersonInfo') }}</div>
                </div>
                <div class="content">
                    <div class="content-item">
                        <span class="name">{{ l('Booking.CustomerName') }} : </span>
                        <span class="desc">{{bookingOrderForEdidData.orderInfo.customerName}}</span>
                    </div>
                    <div class="content-item">
                        <span class="name">{{ l('Booking.Telephone') }} : </span>
                        <span class="desc">{{bookingOrderForEdidData.orderInfo.phoneNum}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-wrap row">
            <div class="col-xs-6">
                <button class="btn btn-block cancel-btn primary-bgcolor" *ngIf="!bookingOrderForEdidData.orderInfo.checkIn && bookingOrderForEdidData.orderInfo.status === 2"
                    (click)="userCheckInHandle()">
                    <i class="vapps-icon-app-check-in"></i>
                    <span>{{ l('Booking.CheckIn') }}</span>
                </button>
                <button class="btn btn-block cancel-btn primary-bgcolor" disabled *ngIf="bookingOrderForEdidData.orderInfo.status === 1">{{ l('BookingList.WaitConfirm') }}</button>
            </div>
            <div class="col-xs-12" *ngIf="bookingOrderForEdidData.orderInfo.checkIn">
                <button class="btn btn-block cancel-btn primary-bgcolor" disabled>
                    <i class="vapps-icon-app-check-in"></i>
                    <span>{{ l('Booking.CheckIn.Yes') }}</span>
                </button>
            </div>
            <div class="col-xs-6">
                <button (click)="cancelBooking()" *ngIf="bookingStatus == 1 || bookingStatus == 2" class="btn primary-bgcolor btn-block cancel-btn"
                    type="button">{{ l('CancelBooking') }}</button>
            </div>
        </div>
    </div>
</div>
<xiaoyuyue-booking-cancel (isCancelBooking)="getIsCancelBooking($event)" #cancelBookingModal></xiaoyuyue-booking-cancel>
