<div class="side-bar-wrap box-shadow" #sideBar>
    <div class="menu-wrap">
        <div class="menu-item" routerLinkActive="active" routerLink="/user/home"><a class="item"><span class="icon vapps-icon-app-menu-home"></span>{{ l('Menu.UserCenter') }}</a></div>
        <div class="menu-item" routerLinkActive="active" routerLink="/user/booking/list"><a class="item"><span class="icon vapps-icon-app-menu-booked"></span>{{ l('Menu.ManageBooking') }}</a></div>
        <div class="menu-item" routerLinkActive="active" routerLink="/user/info"><a class="item"><span class="icon vapps-icon-app-menu-personal"></span>{{ l('Menu.Account.BaseInfo') }}</a></div>
        <div class="menu-item" routerLinkActive="active" routerLink="/user/settings"><a class="item"><span class="icon vapps-icon-app-menu-setting"></span>{{ l('Menu.Settings') }}</a></div>
        <div class="menu-item" routerLinkActive="active" (click)="logout()"><a class="item"><span class="icon vapps-icon-app-user-logout"></span>{{ l('Menu.Account.Logout') }}</a></div>
    </div>
    <div class="cover-wrap" (click)="hideSideBar()"></div>
</div>