<div class="optimal-booking-time">
    <div bsModal #optimalBookingTimeModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="optimalBookingTimeModel" aria-hidden="true" [config]="{backdrop: 'static'}">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close" (click)="close()" aria-label="Close"></span>
                    <h4 class="modal-title row">
                        {{ l('Booking.OptimalTime') }}
                    </h4>
                </div>

                <div class="modal-body">
                    <p class="modal-tip">{{ l('Booking.OptimalTime.Tips') }}</p>
                    <p class="modal-time">10:00-11:00</p>
                    <div class="footer">
                        <button type="submit" class="btn primary-bgcolor btn-block" (click)="confirmBookingTime()">{{ l('Choose') }}</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <xiaoyuyue-reply-booking-model #replyBookingModel></xiaoyuyue-reply-booking-model>
</div>