<!-- 验证旧手机  -->
<div class="email-wrap">
    <div class="current-email-wrap">
        <div [@routerTransition] *ngIf="!emailAddress ? false :  !isVerified">
            <form #currentEmailAddressFrom="ngForm">
                <div class="card">
                    <div class="card-header card-header-text" data-background-color="orange">
                        <span class="title-icon vapps-icon-app-validate-email"></span>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group label-floating" [class.is-empty]="!encryptEmailAddress">
                                <label class="control-label">原邮箱地址</label>
                                <input type="text" class="form-control" name="beforeEmail" [value]="encryptEmailAddress" disabled>
                                <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group label-floating">
                                <label class="control-label">验证码</label>
                                <input type="text" class="form-control" name="validateCode" [(ngModel)]="code" required>
                                <xiaoyuyue-send-code [codeType]="changeEmailCodeType" [sendCodeType]="sendCodeType" [emailAddress]="emailAddress"></xiaoyuyue-send-code>
                                <!-- <button class="btn btn-warning btn-sm vaildate-code" (click)="send($event, emailAddress, 70)" [disabled]="isSendSMS">发送验证码</button> -->
                                <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- <div class="col-xs-6">
                                <button class="btn btn-block btn-danger" type="button" (click)="cancel()">取消</button>
                            </div> -->
                        <div class="col-xs-12">
                            <button class="btn btn-block btn-warning" type="submit" (click)="verificationEmailAddress()" [disabled]="!currentEmailAddressFrom.form.valid">下一步</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- 验证旧手机后，绑定新手机 -->
    <div class="new-email-wrap" *ngIf="!emailAddress ? false :  isVerified">
        <form #newEmailAddressFrom="ngForm">
            <div class="card">
                <div class="card-header card-header-text" data-background-color="orange">
                    <span class="title-icon vapps-icon-app-validate-email"></span>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group label-floating">
                            <label class="control-label">新邮箱地址</label>
                            <input type="text" class="form-control" name="beforeEmailAddress" [(ngModel)]="changeBindingEmailInput.newEmailAddress" required>
                            <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group label-floating">
                            <label class="control-label">验证码</label>
                            <input type="text" class="form-control" name="validateCode" [(ngModel)]="changeBindingEmailInput.bindlingCode" required>
                            <xiaoyuyue-send-code [codeType]="bindingEmailCodeType" [sendCodeType]="sendCodeType" [emailAddress]="changeBindingEmailInput.newEmailAddress"></xiaoyuyue-send-code>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <button class="btn btn-block btn-warning" type="submit" (click)="changeBindEmail()" [disabled]="!newEmailAddressFrom.form.valid">保存</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- 没有绑定过手机，绑定手机 -->
    <div class="new-email-wrap" *ngIf="!emailAddress" [@routerTransition]>
        <form #newEmailAddressFrom="ngForm">
            <div class="card">
                <div class="card-header card-header-text" data-background-color="orange">
                    <span class="title-icon vapps-icon-app-validate-email"></span>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group label-floating">
                            <label class="control-label">邮箱地址</label>
                            <input type="text" class="form-control" name="beforeEmail" [(ngModel)]="bindingEmailInput.emailAddress" required>
                            <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group label-floating">
                            <label class="control-label">验证码</label>
                            <input type="text" class="form-control" name="validateCode" [(ngModel)]="bindingEmailInput.code" required>
                            <xiaoyuyue-send-code [codeType]="bindingEmailCodeType" [sendCodeType]="sendCodeType" [emailAddress]="bindingEmailInput.emailAddress"></xiaoyuyue-send-code>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- <div class="col-xs-6">
                            <button class="btn btn-block btn-danger" type="button" (click)="cancel()">取消</button>
                        </div> -->
                    <div class="col-xs-12">
                        <button class="btn btn-block btn-warning" type="submit" (click)="bindEmailAddress()" [disabled]="!newEmailAddressFrom.form.valid">绑定</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
