<div [@routerTransition]>
    <form #registerForm="ngForm">
        <div class="register-wrap card">
            <div class="register-title">
                <div class="title">{{l("CreateAnAccount")}}</div>
            </div>
            <div class="register-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group label-floating">
                            <label class="control-label"></label>
                            <input class="form-control" type="text" name="tenancyName" placeholder="机构名称" required autofocus [(ngModel)]="model.tenancyName">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group label-floating">
                            <label class="control-label"></label>
                            <input class="form-control" type="password" name="password" placeholder="设置密码" required [(ngModel)]="model.password">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group label-floating">
                            <label class="control-label"></label>
                            <input class="form-control" type="password" name="confirmPasswd" placeholder="确认密码" required [(ngModel)]="confirmPasswd">
                        </div>
                    </div>
                </div>

                <div class="register-btn-wrap">
                    <button class="btn btn-register" type="button" [disabled]="!registerForm.form.valid" (click)="register()">{{l("CreateAnAccount")}}</button>
                </div>
            </div>
            <div class="register-footer"></div>
        </div>
    </form>
</div>