<div class="cancel-booking">
    <div bsModal #cancelBookingModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="cancelBookingModel" aria-hidden="true" (onHide)="onHide()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title row">
                        请选择取消预约的理由
                    </h4>
                </div>

                <div class="modal-body">
                    <div class="refuse-reason-wrap checkbox-radios">
                        <div class="refuse-reason-item radio">
                            <label>
                                <input type="radio" name="refuseReason1" checked value="我不想参加了" [(ngModel)]="routineReason" (click)="isShowOtherTextarea(false)">我不想参加了
                            </label>
                        </div>
                        <div class="refuse-reason-item radio">
                            <label>
                                <input type="radio" name="refuseReason2" value="信息填写错误,重新预约" [(ngModel)]="routineReason" (click)="isShowOtherTextarea(false)">信息填写错误,重新预约
                            </label>
                        </div>
                        <div class="refuse-reason-item radio">
                            <label>
                                <input type="radio" name="refuseReason3" value="时间与其他项目冲突" [(ngModel)]="routineReason" (click)="isShowOtherTextarea(false)">时间与其他项目冲突
                            </label>
                        </div>
                        <div class="refuse-reason-item radio">
                            <label>
                                <input type="radio" name="refuseReason4" value="其它原因" (click)="isShowOtherTextarea(true)" [(ngModel)]="routineReason">其它原因
                            </label>
                        </div>
                        <div class="form-group label-floating" style="padding: 0 10px;" *ngIf="isShowTextarea">
                            <textarea class="form-control" rows="5" placeholder="告诉我们您的想法和意见..." [(ngModel)]="otherReason"></textarea>
                        </div>

                    </div>
                    <div class="footer">
                        <button type="submit" class="btn btn-block primary-bgcolor" (click)="submit()">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>