<div class="intro-page">
    <div class="video">
        <video src="/assets/common/images/xiaoyuyue_usage_scenario.webm" type="video/webm" controls="controls" preload="metadata" width="100%">
            您的浏览器不支持 video 标签。
        </video>
    </div>
    <div class="content">
        <div class="title item">小预约视频介绍</div>
        <p class="item">小预约</p>
        <p class="item">帮助小微企业便捷建立预约,建立秩序,提高效率,只需1分钟创建预约表单,3秒即可应约</p>
        <div class="item">
            <p>完善预约数据服务<br>专注预约服务,并基于数据帮助提高转化率,从小功能入手,协助小微企业提升运营效果</p>
        </div>
    </div>
</div>