<div [@routerTransition]>
    <form #loginForm="ngForm" method="post">
        <div class="login-wrap card-shadow">
            <div class="logo-wrap">
                <img src="/assets/common/images/login/logo-colorized.png" width="40px" alt="logo">
            </div>

            <div class="login-body">
                <div class="form-item">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input id="userName" class="form-control" type="text" autocomplete="off" placeholder="用户名/手机号/邮箱" [(ngModel)]="loginService.authenticateModel.loginCertificate" name="UserName" required maxlength="256" maxlength="32" [class.edited]="loginService.authenticateModel.loginCertificate && loginService.authenticateModel.loginCertificate.length > 0">
                    </div>
                </div>

                <div class="form-item">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input id="password" class="form-control" type="password" placeholder="密码" [(ngModel)]="loginService.authenticateModel.password" name="EmailAddress" required autofocus maxlength="256" [class.edited]="loginService.authenticateModel.password && loginService.authenticateModel.password.length > 0">
                    </div>
                </div>

                <div class="btn btn-block login-btn-wrap" (click)="login()">
                    {{l("LogIn")}}
                </div>

                <div class="form-item clearfix account-action">
                    <span class="pull-left">快速注册</span>
                    <span class="pull-right">忘记密码?</span>
                </div>

                <div class="extra-login">
                    <div class="title-text"><span class="text">第三方平台登录</span></div>
                    <div class="login-icon">
                        <span class="item"><img src="/assets/common/images/login/weChat-x2.png" width="38px" alt="weChat"></span>
                        <span class="item"><img src="/assets/common/images/login/qq-x2.png" width="38px" alt="weChat"></span>
                        <span class="item"><img src="/assets/common/images/login/weibo-x2.png" width="38px" alt="weChat"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>