/* You can add global styles to this file, and also import other style files */

html,
body {
    overflow: auto;
}

html,
body {
    width: 100%;
    max-width: 480px;
    height: 100%;
    margin:  0 auto;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

.bas-reset {
    position: absolute;
    top: 0;
    left: 0;
}

.bootstrap-select .dropdown-toggle {
    box-shadow: none !important;
    outline: none;
}


/*.bootstrap-select.open .dropdown-toggle {
    background-color: #FFF !important;
    border-color: #FFF !important;
}*/


/* 覆盖bootstrap样式 */

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.close {
    width: 14px;
    height: 14px;
    background-size: contain;
}

.modal {
    width: 100%;
    height: 100%;
}


/* .modal .modal-dialog {
    top: 50%;
}

.modal .modal-content {
    transform: translate(0, -50%);
} */

.btn {
    font-weight: normal !important;
}

.btn:hover,
.btn:focus,
.btn.focus {
    color: #FFF;
}


/* 覆盖material-Pro的样式  */

.form-group.is-focused .form-control {
    background-image: linear-gradient(#FF9641, #FF9641);
}

.radio input[type=radio]:checked~.circle {
    border-color: #FF9800;
}

.radio input[type=radio]:checked~.check {
    background-color: #FF9641;
}

.radio label .check:after {
    background-color: #FF9641;
}

.form-control[disabled],
fieldset[disabled] .form-control,
.form-group .form-control[disabled],
fieldset[disabled] .form-group .form-control {
    border-bottom: 1px solid #D2D2D2;
}