<div class="user-profile">
    <div class="rotating-container" [ngClass]="{'filp-active': filpActive}">
        <!-- <div class="rotating-container"> -->
        <form #userProfile="ngForm">
            <div class="rotating">
                <div class="col-md-12 front" *ngIf="input">
                    <div class="card">
                        <div class="avatar-wrap" id="uploadArea">
                            <img [src]="input.profilePictureUrl" id="profilePicture">
                            <span *ngIf="!input.profilePictureUrl" class="vapps-icon-app-add"></span>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating" [ngClass]="{'is-focused': input.userName}">
                                        <label class="control-label">用户名</label>
                                        <input type="text" class="form-control" name="username" [(ngModel)]="input.userName">
                                        <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">昵称</label>
                                        <input type="text" class="form-control" name="nickname" [(value)]="input.nickName">
                                        <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating" [class.is-focused]="input.name">
                                        <label class="control-label">姓名</label>
                                        <input type="text" class="form-control" name="name" [(value)]="input.name">
                                        <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">邮箱</label>
                                        <input type="email" class="form-control" name="email" [(value)]="input.emailAddress">
                                        <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!-- <label class="col-xs-12 label-on-left">性别</label> -->
                                <div class="col-xs-6">
                                    <div class="radio">
                                        <label class="col-xs-12">
                                        <input type="radio" name="radios" checked="true">男
                                    </label>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="radio">
                                        <label class="col-xs-12">
                                        <input type="radio" name="radios">女
                                    </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6">
                                    <button class="btn btn-block btn-danger" type="button" (click)="cancel()">取消</button>
                                </div>
                                <div class="col-xs-6">
                                    <button class="btn btn-block btn-warning" type="submit" (click)="save()">保存</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 back" (click)="showEdit()">
                    <div class="card">
                        <div class="avatar-wrap">
                            <img [src]="userProfileData.profilePictureUrl">
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating" [class.has-success]="userProfileData.userName">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" name="backusername" [(ngModel)]="userProfileData.userName" disabled>
                                        <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating" [class.has-success]="userProfileData.nickName">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" name="backnickname" [(ngModel)]="userProfileData.nickName" disabled>
                                        <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating" [class.has-success]="userProfileData.name">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" name="backname" [(ngModel)]="userProfileData.name" disabled>
                                        <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group label-floating" [class.has-success]="userProfileData.emailAddress">
                                        <label class="control-label"></label>
                                        <input type="email" class="form-control" name="backemail" [(ngModel)]="userProfileData.emailAddress" disabled>
                                        <!-- <span class="help-block">A block of help text that breaks onto a new line.</span> -->
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <!-- <label class="col-xs-12 label-on-left">性别</label> -->
                                <div class="col-xs-6">
                                    <div class="radio">
                                        <label class="col-xs-12">
                                        <input type="radio" name="optionsRadios" checked="true" disabled>男
                                    </label>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="radio">
                                        <label class="col-xs-12">
                                        <input type="radio" name="optionsRadios" disabled>女
                                    </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>