<div class="home-wrap" id="fullpage">
    <!-- banner -->
    <xiaoyuyue-header></xiaoyuyue-header>
    <div class="banner-wrap section">
        <div class="banner-slogan common-max-width">
            <h2>{{ l('MicroCompany.BookingTool') }}
                <br>
                <small>{{ l('Convenient.BookingTool') }}</small>
            </h2>
            <button class="btn primary-bgcolor" (click)="createBooking()">{{ l('DesktopCreateBooking') }}</button>
        </div>
    </div>

    <!-- 关于我们 -->
    <div class="about-me-wrap section">
        <div class="common-max-width">
            <h3 class="content-title">{{ l('AboutUs') }}</h3>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/about/bg1.jpg" alt="bg1">
                        </div>
                        <div class="card-content">
                            <p class="text-item text-title">{{ l('Xiaoyuyue.Slogan.Title') }}</p>
                            <p class="text-item">{{ l('Xiaoyuyue.Slogan.Title.Tip1') }}</p>
                            <p class="text-item">{{ l('Xiaoyuyue.Slogan.Title.Tip2') }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <!-- <img src="/assets/common/images/index/about/bg2.jpg" alt="bg2"> -->
                            <div class="video">
                                <video controls="controls" draggable="" poster="/assets/common/images/index/about/bg2.jpg" preload="metadata" [src]="introVideoUrl"
                                    type="video/mp4" width="100%">
                                    {{ l('Nonsupport.VideoTag') }}
                                </video>
                            </div>
                        </div>
                        <div class="card-content">
                            <p class="text-item text-title">{{ l('Xiaoyuyue') }}</p>
                            <p class="text-item">{{ l('Xiaoyuyue.FastKnowledge') }}</p>
                            <p class="text-item">{{ l('Xiaoyuyue.FastKnowledge.Tip') }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/about/bg3.jpg" alt="bg3">
                        </div>
                        <div class="card-content">
                            <p class="text-item text-title">{{ l('Xiaoyuyue.MoreDataForSupport') }}</p>
                            <p class="text-item">{{ l('Xiaoyuyue.MoreDataForSupport.Tip1') }}</p>
                            <p class="text-item">{{ l('Xiaoyuyue.MoreDataForSupport.Tip2') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 如何建表 -->
    <div class="how-table-wrap section">
        <div class="common-max-width">
            <h3 class="content-title">{{ l('Xiaoyuyue.HowToCreateBooking') }}</h3>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/create-table/bg1.jpg" alt="bg1">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/create-table/bg2.jpg" alt="bg2">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/create-table/bg3.jpg" alt="bg3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 如何应约 -->
    <div class="how-booking-wrap section">
        <div class="common-max-width">
            <h3 class="content-title">{{ l('Xiaoyuyue.HowToJoinBooking') }}</h3>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/booking/bg1.jpg" alt="bg1">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/booking/bg2.jpg" alt="bg2">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/booking/bg3.jpg" alt="bg3">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 使用场景 -->
    <div class="usage-scene-wrap section">
        <div class="common-max-width">
            <h3 class="content-title">{{ l('Xiaoyuyue.UsageScenario') }}</h3>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/scene/bg2.jpg" alt="bg2">
                        </div>
                        <div class="card-content">
                            <p class="text-item text-title">{{ l('ImaginativeFlower') }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/scene/bg3.jpg" alt="bg3">
                        </div>
                        <div class="card-content">
                            <p class="text-item text-title">{{ l('Baking') }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-head">
                            <img src="/assets/common/images/index/scene/bg4.jpg" alt="bg4">
                        </div>
                        <div class="card-content">
                            <p class="text-item text-title">{{ l('ReadingParty') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 联系我们 -->
    <div class="contact-us-wrap section">
        <div class="common-max-width">
            <div class="content">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="content-title">{{ l('ContactUs') }}</h3>
                        <p class="slogan">{{ l('Slogan') }}</p>
                        <div class="contact-way">
                            <div class="flex-block">
                                <div class="flex-left vapps-icon-app-location"></div>
                                <div class="flex-right ">
                                    <h4>{{ l('OfficeAddressField') }}
                                        <br>
                                        <small>{{ l('OfficeAddress') }}</small>
                                    </h4>
                                </div>
                            </div>
                            <div class="flex-block">
                                <div class="flex-left vapps-icon-app-message"></div>
                                <div class="flex-right ">
                                    <h4>{{ l('ContactWay') }}
                                        <br>
                                        <small>020-39141150
                                            <br>marketing@vapps.hk</small>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-qrcode col-lg-6">
                        <img src="/assets/common/images/index/contact/qr-code.png" width="200px" alt="qrcode">
                        <p>小预约公众号</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <xiaoyuyue-footer></xiaoyuyue-footer>
</div>
