@import '../../../../sass/xiaoyuyue/_mixin';
.home-wrap {
    width: 100%;
    background-color: rgba(232, 232, 232, 0.39);
    .common-max-width {
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
    }
    .content-title {
        font-size: 24px;
        text-align: center;
        color: rgb(47, 47, 47);
        margin-top: 45px;
        margin-bottom: 40px;
    }
    .text-left {
        text-align: left !important;
    }
    .rotating-container {
        position: relative;
        top: -40px;
    }
    .section {
        height: 900px;
    }
    .banner-wrap {
        width: 100%;
        height: 712px;
        background: url(/assets/common/images/login/banner-3.jpg) no-repeat center;
        background-size: cover;
        .banner-slogan {
            padding-top: 340px;
            .btn {
                padding: 10px 20px 10px 20px;
                font-size: 18px;
                letter-spacing: 4px;
            }
        }
    }
    .about-me-wrap {
        background: url(/assets/common/images/index/about/banner.jpg) no-repeat center;
        background-size: cover;
        .card {
            overflow: hidden;
            .card-head {
                width: 100%;
                height: 220px;
                overflow: hidden;
            }
            .card-content {
                padding-top: 40px;
                padding-bottom: 30px;
                .text-item {
                    font-size: 14px;
                    text-align: center;
                }
                .text-title {
                    font-size: 16px;
                }
            }
        }
    }
    .how-table-wrap {
        background-color: #EEE;
        .card {
            width: 86%;
            margin: 25px auto;
            display: block;
        }
        .circle-dot {
            margin: 20px auto 0;
            width: 44px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            font-size: 18px;
            color: #FFF;
            background-color: #FF9641;
            border-radius: 100%;
        }
    }
    .how-booking-wrap {
        background-color: #FFF;
        .card {
            width: 80%;
            margin: 25px auto;
            display: block;
        }
        .circle-dot {
            margin: 20px auto 0;
            width: 44px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            font-size: 18px;
            color: #FFF;
            background-color: #FF9641;
            border-radius: 100%;
        }
    }
    .usage-scene-wrap {
        background: url(/assets/common/images/index/scene/banner.jpg) no-repeat center;
        background-size: cover;
        .card {
            width: 86%;
            margin: 25px auto;
            display: block;
            .card-header {
                img {
                    border-radius: 4px;
                }
            }
        }
        .content-title {
            color: #FFF;
            margin-top: 100px;
            margin-bottom: 140px;
        }
        .card-content {
            margin-top: -40px;
            .text-item {
                font-size: 12px;
                text-align: center;
            }
            .text-title {
                font-size: 16px;
            }
        }
    }
}