#booking {
    width: 100%;
    max-width: 480px;
    height: 100vh;
    margin: 0 auto;
    background-color: #FFF;
}

.side-bar {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, .6);
    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .tab-content {
        position: absolute;
        top: 256px;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    .nav-tabs {
        position: fixed;
        width: 100%;
        top: 200px;
        display: flex;
        background-color: #FFF;
        box-shadow: 0 1px 4px 0px #CCC;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        .nav-item.active {
            .nav-link {
                color: #FF9641!important;
                border-bottom: 2px solid #FF9641!important;
                border-radius: 0px;
                cursor: pointer;
            }
        }
        .nav-item {
            flex: 1;
            line-height: 50px;
            text-align: center;
            .nav-link {
                display: inline-block;
                width: 100%;
                padding: 0;
                color: #333!important;
                font-size: 16px;
                >span {
                    display: block;
                    line-height: 50px;
                }
            }
        }
    }
}