<div id="booking">
    <xiaoyuyue-booking-header *ngIf="bookingData" [organizationInfoData]="bookingData.organizationInfo"></xiaoyuyue-booking-header>

    <tabset class="side-bar tab-container tabbable-line">
        <tab heading="预约介绍" *ngIf="bookingData">
            <xiaoyuyue-booking-about [businessAboutData]="bookingData.bookingInfo"></xiaoyuyue-booking-about>
        </tab>

        <tab heading="预约时间" *ngIf="bookingData">
            <xiaoyuyue-booking-time [availableDateItemData]="bookingData.availableDateItem"></xiaoyuyue-booking-time>
        </tab>

        <tab heading="客户评价" *ngIf="bookingData">
            <xiaoyuyue-booking-comments></xiaoyuyue-booking-comments>
        </tab>
    </tabset>

    <xiaoyuyue-footer-ad></xiaoyuyue-footer-ad>
</div>
