<div id="booking" *ngIf="bookingData">
    <xiaoyuyue-booking-header [organizationInfoData]="bookingData.organizationInfo"></xiaoyuyue-booking-header>

    <tabset class="side-bar tab-container tabbable-line" #staticTabs>
        <tab heading="预约介绍">
            <xiaoyuyue-booking-about (isBooking)="isBookingHandler($event)" [optimalBookingTime]="optimalBookingTime" [businessAboutData]="bookingData.bookingInfo"></xiaoyuyue-booking-about>
        </tab>

        <tab heading="预约时间" [active]="showReplyBookingModel">
            <xiaoyuyue-booking-time #bookingTimeModel [bookingInfoData]="bookingData.bookingInfo" [availableDateItemData]="bookingData.availableDateItem"></xiaoyuyue-booking-time>
        </tab>

        <!-- <tab heading="客户评价">
            <xiaoyuyue-booking-comments></xiaoyuyue-booking-comments>
        </tab> -->
    </tabset>
</div>