<div id="booking" *ngIf="bookingData">
    <xiaoyuyue-booking-header [organizationInfoData]="bookingData.organizationInfo" (showTenantDetail)="showTenantDetailHandler($event)"></xiaoyuyue-booking-header>

    <tabset class="side-bar tab-container tabbable-line" #staticTabs>
        <tab heading="{{ l('Booked.Tab.Intro') }}">
            <xiaoyuyue-booking-about (isBooking)="isBookingHandler($event)" [optimalBookingTime]="optimalBookingTime" [businessAboutData]="bookingData.bookingInfo"></xiaoyuyue-booking-about>
        </tab>

        <tab heading="{{ l('Booked.Tab.Time') }}" [active]="showReplyBookingModel">
            <xiaoyuyue-booking-time #bookingTimeModel [bookingInfoData]="bookingData.bookingInfo" [availableDateItemData]="bookingData.availableDateItem"></xiaoyuyue-booking-time>
        </tab>

        <!-- <tab heading="客户评价">
            <xiaoyuyue-booking-comments></xiaoyuyue-booking-comments>
        </tab> -->
    </tabset>
    <xiaoyuyue-tenant-detail-model #tenantDetailModel></xiaoyuyue-tenant-detail-model>
</div>