<div class="tenant-detail-wrap">
    <div bsModal #tenantDetailModel="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="tenantDetailModel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="top-header" [ngStyle]="{'background-image': 'url(' + organizationInfoData.backgroundPictureUrl + ')'}">
                        <!-- <div class="avatar-wrap"></div> -->
                        <div class="content">
                            <img class="logo" width="60px" [src]="organizationInfoData.logoUrl" alt="logo">
                            <h1 class="tenant-name">{{ organizationInfoData.name }}</h1>
                        </div>
                        <div class="bg-cover"></div>
                    </div>

                    <div class="desc-wrap">
                        <p class="desc-text">{{ organizationInfoData.description }}</p>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                </div> -->
            </div>
        </div>
    </div>
</div>