.sitemaps-wrapper {
    padding-top: 130px;
    padding-bottom: 30px;
    .common-max-width {
        width: 900px;
        margin: 0 auto;
    }
    .content {
        min-height: calc(100vh - 432px - 80px);
        background-color: #FFF;
        border-radius: 4px;
        padding: 0 20px 20px;
        .sitemaps-header {
            position: relative;
            top: -20px;
            left: 0;
            .item {
                display: inline-block;
                width: 130px;
                height: 72px;
                line-height: 72px;
                border-radius: 4px;
                text-align: center;
                color: #000;
                font-weight: 800;
                cursor: pointer;
                &.active {
                    color: #FFF;
                    background-color: #FF9641;
                }
            }
        }
    }
}