@font-face {
    font-family: 'xiaoyuyue';
    src: url('../fonts/xiaoyuyue.eot?qzajds');
    src: url('../fonts/xiaoyuyue.eot?qzajds#iefix') format('embedded-opentype'), url('../fonts/xiaoyuyue.ttf?qzajds') format('truetype'), url('../fonts/xiaoyuyue.woff?qzajds') format('woff'), url('../fonts/xiaoyuyue.svg?qzajds#xiaoyuyue') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="vapps-icon-"],
[class*=" vapps-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'xiaoyuyue' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vapps-icon-app-active:before {
    content: "\e900";
    color: #fff;
}

.vapps-icon-app-add:before {
    content: "\e901";
    color: #ff9641;
}

.vapps-icon-app-add-booking-item:before {
    content: "\e902";
    color: #ff9641;
}

.vapps-icon-app-add-time-field:before {
    content: "\e903";
    color: #ff9641;
}

.vapps-icon-app-at-top-1:before {
    content: "\e904";
    color: #ff9641;
}

.vapps-icon-app-at-top-2:before {
    content: "\e905";
    color: #ff9641;
}

.vapps-icon-app-back:before {
    content: "\e906";
    color: #808080;
}

.vapps-icon-app-back-left:before {
    content: "\e907";
    color: #fff;
}

.vapps-icon-app-booked:before {
    content: "\e908";
    color: #ff9641;
}

.vapps-icon-app-cancel:before {
    content: "\e909";
    color: #fff;
}

.vapps-icon-app-cancel-booking:before {
    content: "\e90a";
    color: #ff9641;
}

.vapps-icon-app-check:before {
    content: "\e90b";
    color: #ff9641;
}

.vapps-icon-app-close:before {
    content: "\e90c";
    color: #808080;
}

.vapps-icon-app-confirm:before {
    content: "\e90d";
    color: #fff;
}

.vapps-icon-app-contact:before {
    content: "\e90e";
    color: #b2b2b2;
}

.vapps-icon-app-copy-2:before {
    content: "\e90f";
    color: #fff;
}

.vapps-icon-app-delete-time-field:before {
    content: "\e910";
    color: #ff9641;
}

.vapps-icon-app-detail:before {
    content: "\e911";
    color: #ff9641;
}

.vapps-icon-app-drop-down:before {
    content: "\e912";
    color: #808080;
}

.vapps-icon-app-edit:before {
    content: "\e913";
    color: #ff9641;
}

.vapps-icon-app-finished:before {
    content: "\e914";
    color: #d30000;
}

.vapps-icon-app-first-page:before {
    content: "\e915";
    color: #808080;
}

.vapps-icon-app-last-page:before {
    content: "\e916";
    color: #808080;
}

.vapps-icon-app-logo:before {
    content: "\e917";
    color: #fff;
}

.vapps-icon-app-logo-text:before {
    content: "\e918";
    color: #fff;
}

.vapps-icon-app-menu:before {
    content: "\e919";
    color: #fff;
}

.vapps-icon-app-menu-booked:before {
    content: "\e91a";
}

.vapps-icon-app-menu-home:before {
    content: "\e91b";
}

.vapps-icon-app-menu-logout:before {
    content: "\e91c";
}

.vapps-icon-app-menu-personal:before {
    content: "\e91d";
}

.vapps-icon-app-menu-setting:before {
    content: "\e91e";
}

.vapps-icon-app-message:before {
    content: "\e91f";
    color: #fff;
}

.vapps-icon-app-mode-toggle-1:before {
    content: "\e920";
    color: #fff;
}

.vapps-icon-app-mode-toggle-2:before {
    content: "\e921";
    color: #808080;
}

.vapps-icon-app-multitask:before {
    content: "\e922";
    color: #ff9641;
}

.vapps-icon-app-next-page:before {
    content: "\e923";
    color: #ccc;
}

.vapps-icon-app-phone:before {
    content: "\e924";
    color: #ff9641;
}

.vapps-icon-app-preview:before {
    content: "\e925";
    color: #fff;
}

.vapps-icon-app-prev-page:before {
    content: "\e926";
    color: #ccc;
}

.vapps-icon-app-qr-code:before {
    content: "\e927";
    color: #ff9641;
}

.vapps-icon-app-refurbish:before {
    content: "\e928";
    color: #808080;
}

.vapps-icon-app-remove:before {
    content: "\e929";
    color: #ff9641;
}

.vapps-icon-app-search:before {
    content: "\e92a";
    color: #fff;
}

.vapps-icon-app-submit:before {
    content: "\e92b";
    color: #fff;
}

.vapps-icon-app-time-line-item-name:before {
    content: "\e92c";
    color: #b2b2b2;
}

.vapps-icon-app-time-line-outlet:before {
    content: "\e92d";
    color: #b2b2b2;
}

.vapps-icon-app-time-line-shophours:before {
    content: "\e92e";
    color: #b2b2b2;
}

.vapps-icon-app-to-bottom:before {
    content: "\e92f";
    color: #ff9641;
}

.vapps-icon-app-to-top:before {
    content: "\e930";
    color: #ff9641;
}

.vapps-icon-app-upload:before {
    content: "\e931";
    color: #ff9641;
}

.vapps-icon-app-user-auth:before {
    content: "\e932";
    color: #ff9641;
}

.vapps-icon-app-user-center:before {
    content: "\e933";
    color: #ff9641;
}

.vapps-icon-app-user-feedback:before {
    content: "\e934";
    color: #ff9641;
}

.vapps-icon-app-user-info:before {
    content: "\e935";
}

.vapps-icon-app-user-logout:before {
    content: "\e936";
}

.vapps-icon-app-user-manage:before {
    content: "\e937";
}

.vapps-icon-app-user-profile:before {
    content: "\e938";
    color: #ff9641;
}

.vapps-icon-app-user-security:before {
    content: "\e939";
    color: #ff9641;
}

.vapps-icon-app-user-setting:before {
    content: "\e93a";
}