<div [@routerTransition] *ngIf="smsTemplateForEdit">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span *ngIf="smsTemplateId">{{l("EditMessageTemplate")}}</span>
                        <span *ngIf="!smsTemplateId">"创建消息模板"</span>
                        <small>{{l("MessageTemplateHeaderInfo")}}</small>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button type="button" class="btn btn-primary red" (click)="back()"><i class="fa fa-arrow-left"></i>{{l("Back")}}</button>
            <button type="button" class="btn btn-primary blue" (click)="saveData()"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
        </div>
    </div>

    <div class="portlet light margin-bottom-0">
        <div class="portlet-body">
            <tabset class="tab-container tabbable-line">
                <tab heading="{{l('Edit')}}">
                    <form role="form" novalidate class="form-validation">
                        <div class="form-group form-md-line-input form-md-floating-label common-input-line-width">
                            <input type="text" name="MessageProviderName" class="form-control input-ltr" required maxlength="128" [ngClass]="{'edited':smsTemplateForEdit.name}" [(ngModel)]="smsTemplateForEdit.name">
                            <label>{{l("MessageName")}}</label>
                        </div>

                        <div class="form-group form-md-line-input form-md-floating-label common-input-line-width">
                            <input type="text" name="ConnectionString" class="form-control edited" required maxlength="1024" [ngClass]="{'edited':smsTemplateForEdit.templateCode}" [(ngModel)]="smsTemplateForEdit.templateCode">
                            <label>{{l("MessageTemplateNumber")}}</label>
                        </div>

                        <div class="form-group form-md-line-input form-md-floating-label common-input-line-width">
                            <select id="sms-provider" name="sms-provider" class="form-control edited" [(ngModel)]="defaultSmsProvider.displayName">
                                <option >{{l("Please_Choose")}}</option>
                                <option *ngFor="let smsProvider of allSmsProvider" [value]="smsProvider.displayName">{{ smsProvider.displayName }}</option>
                            </select>
                            <label for="sms-provider">{{l("MessageProviderName")}}</label>
                        </div>
                    </form>
                </tab>
            </tabset>

            <kendo-grid [data]="smsTemplateGridData | async" [pageSize]="pageSize" [skip]="skip" [pageable]="{ buttonCount: buttonCount,info: info,type: type,pageSizes: pageSizes, previousNext: previousNext}" [sortable]="false" [sort]="sort" [scrollable]="'none'"
                (dataStateChange)="dataStateChange($event)" (dataStateChange)="onStateChange($event)" (edit)="editHandler($event)" (remove)="removeHandler($event)" (add)="addHandler($event)">
                <ng-template kendoGridToolbarTemplate>
                    <button kendoGridAddCommand>{{l("AddNew")}}</button>
                </ng-template>
                <kendo-grid-column field="dataItemName" title="字段名"></kendo-grid-column>
                <kendo-grid-column field="dataItemValue" title="字段值"></kendo-grid-column>
                <kendo-grid-column title="{{l('Actions')}}" width="220">
                    <ng-template kendoGridCellTemplate>
                        <button kendoGridEditCommand class="btn btn-default btn-primary blue">{{l("Edit")}}</button>
                        <button kendoGridRemoveCommand class="btn btn-default btn-primary red">{{l("Delete")}}</button>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid>

            <kendo-grid-edit-form [isNew]="isNew" [model]="editDataItem" (save)="saveHandler($event)" (cancel)="cancelHandler()">
            </kendo-grid-edit-form>
        </div>
    </div>
</div>